<div class="page-content-wrapper">
  <div class="product-slide-wrapper">
    <!-- Product Slides-->
    <div class="product-slides owl-carousel" #product >
      <div #products *ngFor="let image of trek?.images" class="single-product-slide" 
      [ngStyle]="{'background-image': 'url(' + image.path + ')'}"></div>
    </div>
    
  </div>
  <div class="product-description pb-3" *ngIf="trek">
    <!-- Product Title & Meta Data-->
    <div class="product-title-meta-data bg-white mb-3 py-3">
      <div class="container d-flex justify-content-between">
        <div class="p-title-price">
          <h6 class="mb-1">{{trek.trekName}}</h6>
          <p class="sale-price mb-0">Level :<span>{{trek.level}}</span></p>
        </div>
       
      </div>
    <!-- Product Specification-->
    <div class="p-specification bg-white mb-3 py-3">
      <div class="container">
        <h6>About The Trek</h6>
        <p>{{trek.description}}</p>
        <!-- <ul class="mb-3">
          <li><i class="fa fa-tv"> </i> TV</li>
          <li><i class="fa fa-shower"> </i> Geyser</li>
          <li> <i class="fa fa-wifi"> </i> Wifi</li>
          <li> <i class="fa fa-bath"> </i> AttachBathroom</li>
            <li> <i class="fa fa-phone"> </i>InterCom</li>
        </ul>
        <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, eum? Id, culpa? At officia quisquam laudantium nisi mollitia nesciunt, qui porro asperiores cum voluptates placeat similique recusandae in facere quos vitae?</p> -->
      </div>
    </div>
   
      </div>
    </div>