<div class="page-content-wrapper">
    <div class="container">
      <!-- Profile Wrapper-->
      <div class="profile-wrapper-area py-3">
        <!-- User Information-->
        <div class="card user-info-card">
          <div class="card-body p-4 d-flex align-items-center">
            <div class="user-profile me-3"><img [src]="user.profile" alt=""> 
              <div class="change-user-thumb">
                <form>
                  <input class="form-control-file" type="file" (change)="onSelectFile($event,'profile')">
                  <button><i class="lni lni-pencil"></i></button>
                </form>
              </div>
            </div>
            <div class="user-info">
              <h5 class="mb-0">{{user.fullName}}</h5>
            </div>
          </div>
        </div>
        <!-- User Meta Data-->
        <div class="card user-data-card">
          <div class="card-body">
            <form action="" method="">
              <div class="mb-3">
                <div class="title mb-2"><i class="lni lni-user"></i><span>Username</span></div>
                <input class="form-control" type="text" disabled id="userName"
                name="userName" [(ngModel)]="user.userName">
              </div>
              <div class="mb-3">
                <div class="title mb-2"><i class="lni lni-user"></i><span>Full Name</span></div>
                <input class="form-control" type="text" id="fullName"
                name="fullName" [(ngModel)]="user.fullName" >
              </div>
              <div class="mb-3">
                <div class="title mb-2"><i class="lni lni-phone"></i><span>Phone</span></div>
                <input class="form-control" type="text" id="phoneNumber"
                name="phoneNumber" [(ngModel)]="user.phoneNumber">
              </div>
              <div class="mb-3">
                <div class="title mb-2"><i class="lni lni-envelope"></i><span>Email Address</span></div>
                <input class="form-control" type="email" id="emailId"
                name="email" disabled [(ngModel)]="user.emailId">
              </div>
              <div class="mb-3">
                <div class="title mb-2"><i class="lni lni-map-marker"></i><span>Address</span></div>
                <input class="form-control" type="text" id="address"
                name="address" [(ngModel)]="user.address">
              </div>
                <div class="mb-3" *ngIf="user.userType !== 'BUSINESS'">
                <div class="title mb-2"><i class="lni lni-postcard"></i><span>Upload Id Proof</span></div>
                <input class="form-control" type="file" (change)="onSelectFile($event,'idproof')">
              </div>
                <div class="mb-3" *ngIf="user.userType !== 'BUSINESS'">
                <div class="title mb-2"><i class="lni lni-certificate"></i><span>Upload Vaccine Certificate</span></div>
                <input class="form-control" type="file" (change)="onSelectFile($event,'vaccine')">
              </div>
              <button class="btn btn-success w-100" type="submit" (click)="onClickSubmit()">Save All Changes</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>