<div class="container" *ngIf="!alert.isClosed" >
    <div class="alert alert-{{alert.type}} sticky">
      <button class="btn alert-{{alert.type}}" (click)="onClickOfClose()">x</button>  
      <strong>
        {{alert.message }}
      </strong>
    </div>
</div>