<div class="login-wrapper d-flex align-items-center justify-content-center text-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-9 col-md-7 col-lg-6 col-xl-5">
          <img class="big-logo" src="../../assets/img/logo-white.png" alt="">
          <p style="color: #020310; margin-top: 10px;">Government of Sikkim</p>

         <strong>
          <p style="color: #020310; margin-top: 10px;">Reset password</p>
         </strong> 
          <!-- Register Form-->
          <div class="register-form mt-5 px-4">
            <form #login="ngForm">
              <div *ngIf="resetType === 'temp'" class="form-group text-start mb-4"><span>Current Password</span>
                <label for="username"><i class="lni lni-lock"></i></label>
                <input class="form-control" id="opassword" name="opassword"
                [pattern]="pwdPattern" required type="password" #opwd="ngModel" [(ngModel)]="tempPassword"
                  placeholder="Password">
                <div *ngIf="opwd.invalid && (opwd.dirty || opwd.touched)" class="alert alert-danger">
                  <div *ngIf="opwd.errors?.required">
                    <b>Temporary</b> is required. </div>
                    <div *ngIf="opwd.errors?.pattern">   
                      <b>Temporary</b> is not valid.   
                    </div>
                  </div>
              </div>

              <div *ngIf="resetType === 'otp'" class="form-group text-start mb-4"><span>One Time Password</span>
                <label for="username"><i class="lni lni-lock"></i></label>
                <input class="form-control" id="opassword" name="opassword"
                 required type="password" #opwd="ngModel" [(ngModel)]="otPassword"
                  placeholder="Password">
                <div *ngIf="opwd.invalid && (opwd.dirty || opwd.touched)" class="alert alert-danger">
                  <div *ngIf="opwd.errors?.required">
                    <b>Temporary</b> is required. </div>
                    <div *ngIf="opwd.errors?.pattern">   
                      <b>Temporary</b> is not valid.   
                    </div>
                  </div>
              </div>
              <div class="form-group text-start mb-4"><span>New Password</span>
                <label for="password"><i class="lni lni-lock"></i></label>
                <input class="form-control" id="password" name="password" #pwd="ngModel" [(ngModel)]="newPassword"
                [pattern]="pwdPattern" required type="password"  placeholder="Password">
                <div *ngIf="pwd.invalid && (pwd.dirty || pwd.touched)" class="alert alert-danger">
                  <div *ngIf="pwd.errors?.required">
                    <b>New Password</b> is required. </div>
                    <div *ngIf="pwd.errors?.pattern">   
                      <b>New Password</b> is not valid.   
                    </div>
                  </div>
              </div>
              <div class="form-group text-start mb-4"><span>Confirm New Password</span>
                <label for="password"><i class="lni lni-lock"></i></label>
                <input class="form-control" id="cpassword" name="cpassword" #cpwd="ngModel"  [(ngModel)]="confirmNewPassword"
                [pattern]="pwdPattern" required type="password"  placeholder="Confirm Password">
                <div *ngIf="cpwd.invalid && (cpwd.dirty || cpwd.touched)" class="alert alert-danger">
                  <div *ngIf="cpwd.errors?.required">
                    <b>Confirm Password</b> is required. </div>
                    <div *ngIf="cpwd.errors?.pattern">   
                      <b>Confirm Password</b> is not valid.   
                    </div>
                  </div>
              </div>
  
              <button [disabled]="!login.valid" class="btn btn-warning btn-lg w-100" type="submit" 
              (click)="onClickOfReset()">Reset Password</button>
            </form>
          </div>
         </div>
      </div>
    </div>  
  </div>