<div class="page-content-wrapper">
  <!-- Top Products-->
  <div class="top-products-area py-3">
    <div class="container">
      <div class="section-heading d-flex align-items-center justify-content-between">
        <h6>All Destinations</h6>
      </div>

      <div class="row g-3">
        <div class="col-12 col-md-6 hotel-details" *ngFor="let destination of  destinations">
          <div class="card collection-card2"><a [routerLink]="['/home/destination', destination._id]" href="hotel-details.html"><img
            [src]="getSrc(destination)"  alt=""></a>
            <div class="collection-title"><span>{{destination.destName}}</span>
              <span class="location"><i class="lni lni-money-location"></i>{{destination.address}}</span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>