<div class="page-content-wrapper">
    <div class="container">
        <!-- Profile Wrapper-->
        <div class="profile-wrapper-area py-3">
            <!-- User Information-->

            <!-- User Meta Data-->
            <div class="card user-data-card">
                <div class="card-body">
                    <form #destinationForm="ngForm">
                        <div class="mb-3">
                            <div class="title mb-2"><i class="lni lni-user"></i><span>Destination Code</span></div>
                            <input name="code" class="form-control" type="text" 
                            #dcode="ngModel"
                            [(ngModel)]="destination.code" [disabled]="destinationId" required>

                            <div *ngIf="dcode.invalid && (dcode.dirty || dcode.touched)" class="alert alert-danger">
                                <div *ngIf="dcode.errors?.required">
                                  <b>Destination Code</b> is required.
                                </div>
                              </div>
                        </div>
                        <div class="mb-3">
                            <div class="title mb-2"><i class="lni lni-user"></i><span>Destination Name</span></div>
                            <input name="destName" class="form-control" type="text"
                            [(ngModel)]="destination.destName" #dname="ngModel" required >
                            <div *ngIf="dname.invalid && (dname.dirty || dname.touched)" class="alert alert-danger">
                                <div *ngIf="dname.errors?.required">
                                  <b>Destination Name</b> is required.
                                </div>
                              </div>
                        </div>
                        <div class="mb-3">
                            <div class="title mb-2"><i class="fa fa-h-square"></i><span>Destination Address</span>
                            </div>
                            <input class="form-control" name="destAddress" type="text" 
                            [(ngModel)]="destination.address" #daddress="ngModel" required>
                            <div *ngIf="daddress.invalid && (daddress.dirty || daddress.touched)" class="alert alert-danger">
                                <div *ngIf="daddress.errors?.required">
                                  <b>Destination Address</b> is required.
                                </div>
                              </div>
                        </div>
                        <div class="mb-3">
                            <div class="title mb-2"><i class="fa fa fa-location-arrow"></i><span>District</span></div>
                            <select  name="dist" [(ngModel)]="destination.district" class="form-select" 
                            aria-label="Default select example" #ddist="ngModel" required>
                                <option selected>Choose District</option>
                                <option *ngFor="let district of districts" [value]="district.code">{{district.value}}</option>
                            </select>
                            <div *ngIf="ddist.invalid && (ddist.dirty || ddist.touched)" class="alert alert-danger">
                                <div *ngIf="ddist.errors?.required">
                                  <b>Destination Destrict</b> is required.
                                </div>
                              </div>
                        </div>

                        <div class="mb-3">
                            <div class="title mb-2"><i class="fa fa-pencil"></i><span>About Hotel</span></div>
                            <textarea name="about" [(ngModel)]="destination.about" class="form-control" id="comments" name="comment" cols="30" rows="10"
                                data-max-length="400" placeholder="Write About Hotel..." #dabout="ngModel" required></textarea>
                                <div *ngIf="dabout.invalid && (dabout.dirty || dabout.touched)" class="alert alert-danger">
                                    <div *ngIf="dabout.errors?.required">
                                      <b>Destination About</b> is required.
                                    </div>
                                  </div>
                            </div>

                        <div class="mb-3">
                            <div class="title mb-2"><i class="lni lni-ticket"></i><span>Is ticket Booking?</span></div>
                            <div class="choose-size-wrapper text-end">

                                <div class="choose-size-radio align-items-center services">
                                    <!-- Single Radio Input-->
                                    <div class="form-check mb-0 me-2">
                                        <input class="form-check-input" id="ticketBooking" type="checkbox"
                                         name="ticketBooking" [(ngModel)]="destination.ticketBooking">
                                        <label class="form-check-label" for="ticketBooking"></label>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <ng-container *ngIf="destination.ticketBooking">
                            <div class="mb-3">
                                <div class="title mb-2"><i class="fa fa-h-square"></i><span>Childre Fee</span>
                                </div>
                                <input class="form-control" name="childrenFee" type="text" 
                                [(ngModel)]="destination.childrenFee" #cfee="ngModel" required>
                                <div *ngIf="cfee.invalid && (cfee.dirty || cfee.touched)" class="alert alert-danger">
                                    <div *ngIf="cfee.errors?.required">
                                      <b>Destination Children Fee</b> is required.
                                    </div>
                                  </div>
                            </div>
                            <div class="mb-3">
                                <div class="title mb-2"><i class="fa fa-h-square"></i><span>Adult Fee</span>
                                </div>
                                <input class="form-control" name="adultFee" type="text" 
                                [(ngModel)]="destination.adultFee" #afee="ngModel" required>
                                <div *ngIf="afee.invalid && (afee.dirty || afee.touched)" class="alert alert-danger">
                                    <div *ngIf="afee.errors?.required">
                                      <b>Destination Adult Fee</b> is required.
                                    </div>
                                  </div>
                            </div>
                        </ng-container>

                        <div class="mb-3">
                            <div class="title mb-2"><i class="lni lni-ticket"></i><span>Is Permit Required?</span></div>
                            <div class="choose-size-wrapper text-end">

                                <div class="choose-size-radio align-items-center services">
                                    <!-- Single Radio Input-->
                                    <div class="form-check mb-0 me-2">
                                        <input class="form-check-input" id="isPermitRequired" type="checkbox"
                                         name="isPermitRequired" [(ngModel)]="destination.isPermitRequired"
                                             >
                                        <label class="form-check-label" for="isPermitRequired"></label>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <ng-container *ngIf="destination.isPermitRequired">
                            <div class="mb-3">
                                <div class="title mb-2"><i class="fa fa-h-square"></i><span>Permit Fee</span>
                                </div>
                                <input class="form-control" name="permitFee" type="text" 
                                [(ngModel)]="destination.permitFee"  #pfee="ngModel" required>
                                <div *ngIf="pfee.invalid && (pfee.dirty || pfee.touched)" class="alert alert-danger">
                                    <div *ngIf="pfee.errors?.required">
                                      <b>Destination Permit Fee</b> is required.
                                    </div>
                                  </div>
                            </div>
                        </ng-container>
                        
                        <div class="mb-3">
                            <div class="title mb-2"><i class="lni lni-bookmark"></i><span>Is Foreigner Allowed?</span>
                            </div>
                            <div class="choose-size-wrapper text-end">

                                <div class="choose-size-radio align-items-center services">
                                    <!-- Single Radio Input-->
                                    <div class="form-check mb-0 me-2">
                                        <input class="form-check-input" id="foreignerAllowed" type="checkbox"
                                        [(ngModel)]="destination.isForeigner" name="foreignerAllowed" >
                                        <label class="form-check-label" for="foreignerAllowed"></label>
                                    </div>
                                    <!-- Single Radio Input-->
                                </div>
                            </div>
                        </div>
                        <div class="title mb-2"><i class="fa fa-upload"></i><span>Upload Images </span></div>
                        <div class="data-content">
                          <button class="btn btn-primary btn-sm" (click)="onClickOfAddImage()" >Add </button></div>
                        <div class="cart-table card mb-3">
                          <div class="table-responsive card-body">
                            <table class="table mb-0">
                              <thead>
                                <tr>
                                  <th>Action</th>
                                  <th>Main Image</th>
                                  <th>Upload File </th>
                                  <th>View</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let image of destination.images; let i = index">
                                  <th scope="row"><a class="remove-product" (click)="onClickOfDeleteImage(i)"><i class="lni lni-close"></i></a></th>
                                  <td> 
                                    <input type="radio"  name="isMainImage" [checked]="image.isMainImage"   (click)="onClickOfSelectImage(image)"
                                    id="isMainImage" value="">  
                                  </td>
                                  <td> <input class="form-control" type="file" (change)="onChangeImage($event,image)" ></td>
                                  <td>{{image.path}}</td>
                                </tr>
                              </tbody> 
                            </table>
                          </div>
                        </div>
 
                        <div class="mb-3">
                            <div class="title mb-2"><i class="lni lni-ticket"></i><span>To dispaly in destination?</span></div>
                            <div class="choose-size-wrapper text-end">

                                <div class="choose-size-radio align-items-center services">
                                    <!-- Single Radio Input-->
                                    <div class="form-check mb-0 me-2">
                                        <input class="form-check-input" id="isDestination" type="checkbox"
                                         name="isDestination" [(ngModel)]="destination.isDestination"
                                             >
                                        <label class="form-check-label" for="isDestination"></label>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>


                        <button class="btn btn-success w-100"
                        [disabled]="!destinationForm.valid" (click)="onClickSubmit()" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>