<div class="page-content-wrapper">
  <div class="product-slide-wrapper">
    <!-- Product Slides-->
    <div class="product-slides owl-carousel" #product>
      <div #products *ngFor="let image of experience?.images" class="single-product-slide" 
      [ngStyle]="{'background-image': 'url(' + image.path + ')'}"></div>
      <!-- Single Hero Slide-->
      <!-- <div class="single-product-slide" style="background-image: url('../../../assets/img/hotel/hotel3.jfif')"></div> -->
      <!-- Single Hero Slide-->
      <!-- <div class="single-product-slide" style="background-image: url('../../../assets/img/hotel2.jfif')"></div> -->
      <!-- Single Hero Slide-->
      <!-- <div class="single-product-slide" style="background-image: url('../../../assets/img/hotel2.jfif')"></div> -->
  <!-- <div class="single-product-slide" style="background-image: url('../../../assets/img/hotel2.jfif')"></div> -->
    </div>
    
  </div>
  <div class="product-description pb-3">
    <!-- Product Title & Meta Data-->
    <div class="product-title-meta-data bg-white mb-3 py-3">
      <div class="container d-flex justify-content-between">
        <div class="p-title-price">
          <h6 class="mb-1">{{experience?.title}}</h6>
        </div>
       
      </div>     
    <!-- Product Specification-->
    <div class="p-specification bg-white mb-3 py-3">
      <div class="container">
        <h6>About</h6>
        <p>{{experience?.about}}</p>
      </div>
    </div>