<div class="page-content-wrapper">
      <div class="container">
        <!-- Cart Wrapper-->
        <div class="cart-wrapper-area py-3">
          <div class="cart-table card mb-3">
            <div class="table-responsive card-body">
              <table class="table mb-0">
                <tbody>
                  <tr *ngFor="let cart of listOfCarts">
                    <th scope="row"><a class="remove-product" (click)="onClickOfDelete(cart)"><i class="lni lni-close"></i></a></th>
                    <td>
                      <!-- <img class="rounded" src="../../../assets/img/product/11.png" alt=""> -->
                    </td>
                    <td><a href="">{{cart.name}}<span>Adult {{cart.adultFee}} × {{cart.adultCount}} 
                      Childres {{cart.childrenFee}} × {{cart.childrenCount}} 

                    </span></a></td>
                    <td>
                      <div class="quantity">
                        <span  class="qty-text">{{(cart.adultFee * cart.adultCount) + (cart.childrenFee * cart.childrenCount)}} INR</span>
                        <!-- <input class="qty-text" type="text" value="1"> -->
                      </div>
                    </td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
          </div>
          <!-- Coupon Area-->
          <!-- <div class="card coupon-card mb-3">
            <div class="card-body">
              <div class="apply-coupon">
                <h6 class="mb-0">Have a coupon?</h6>
                <p class="mb-2">Enter your coupon code here &amp; get awesome discounts!</p>
                <div class="coupon-form">
                  <form action="#">
                    <input class="form-control" type="text" placeholder="abad">
                    <button class="btn btn-primary" type="submit">Apply</button>
                  </form>
                </div>
              </div>
            </div>
          </div> -->
          <!-- Cart Amount Area-->
          <div class="card cart-amount-area">
            <div class="card-body d-flex align-items-center justify-content-between">
              <h5 class="total-price mb-0">INR <span class="counter">{{totalAmount}}</span></h5>
              <a class="btn btn-warning" (click)="onClickCheckOut()">Checkout Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>