<div class="page-content-wrapper">
      
    <div class="container">
        <!-- Support Wrapper-->
        <div class="support-wrapper py-3">
        
          <div class="accordian-area-wrapper mt-3">
            <!-- Accordian Card-->
            <div class="card accordian-card others-card">
              <div class="card-body">
               <!-- <h5 class="accordian-title">Others</h5>-->
                <div class="accordion" id="accordion3">
                  <!-- Single Accordian-->
                  <div class="accordian-header" id="headingone">
                    <button class="d-flex align-items-center justify-content-between w-100 btn collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseone" aria-expanded="false" aria-controls="collapseone"><span><i class="lni lni-question-circle"></i>How to return a product?</span><i class="lni lni-chevron-right"></i></button>
                  </div>
                  <div class="collapse" id="collapseone" aria-labelledby="headingone" data-bs-parent="#accordion3" style="">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero excepturi tempore exercitationem porro dignissimos.</p>
                  </div>
                  <!-- Single Accordian-->
                  <div class="accordian-header" id="headingtwo">
                    <button class="d-flex align-items-center justify-content-between w-100 collapsed btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapsetwo" aria-expanded="false" aria-controls="collapsetwo"><span><i class="lni lni-question-circle"></i>My product is misleading?</span><i class="lni lni-chevron-right"></i></button>
                  </div>
                  <div class="collapse" id="collapsetwo" aria-labelledby="headingtwo" data-bs-parent="#accordion3">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero excepturi tempore exercitationem porro dignissimos.</p>
                  </div>
				   <div class="accordian-header" id="headingthree">
                    <button class="d-flex align-items-center justify-content-between w-100 btn collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsethree" aria-expanded="false" aria-controls="collapsthree"><span><i class="lni lni-question-circle"></i>How to return a product?</span><i class="lni lni-chevron-right"></i></button>
                  </div>
                  <div class="collapse" id="collapsethree" aria-labelledby="headingthree" data-bs-parent="#accordion3" style="">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero excepturi tempore exercitationem porro dignissimos.</p>
                  </div>
                  <!-- Single Accordian-->
                  <div class="accordian-header" id="headingfour">
                    <button class="d-flex align-items-center justify-content-between w-100 collapsed btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour"><span><i class="lni lni-question-circle"></i>My product is misleading?</span><i class="lni lni-chevron-right"></i></button>
                  </div>
                  <div class="collapse" id="collapsefour" aria-labelledby="headingfour" data-bs-parent="#accordion3">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero excepturi tempore exercitationem porro dignissimos.</p>
                  </div>	
					
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    