<div class="page-content-wrapper">
    <div class="container">
      <!-- Profile Wrapper-->
      <div class="profile-wrapper-area py-3">
        <!-- User Information-->
        
        <!-- User Meta Data-->
        <div class="card user-data-card">
          <div class="card-body">
            <form #addagent="ngForm">
              <div class="mb-3">
                <div class="title mb-2"><i class="lni lni-user"></i><span>Agent Code</span></div>
                <input class="form-control" type="text" name=agentName #acode="ngModel"   [disabled]="agentId"
                id="agentName" [(ngModel)]="agentInfo.code" required/>
                <div *ngIf="acode.invalid && (acode.dirty || acode.touched)" class="alert alert-danger">
                  <div *ngIf="acode.errors?.required">
                    <b> Agent Code</b> is required.
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <div class="title mb-2"><i class="lni lni-user"></i><span>Agent Name</span></div>
                <input class="form-control" type="text" name=agentName #aname="ngModel" [disabled]="agentInfo.status === 'Approved'"
                id="agentName" [(ngModel)]="agentInfo.agentName" required/>
                <div *ngIf="aname.invalid && (aname.dirty || aname.touched)" class="alert alert-danger">
                  <div *ngIf="aname.errors?.required">
                    <b> Name</b> is required.
                  </div>
                </div>
              </div>
                <div class="mb-3">
                <div class="title mb-2"><i class="fa fa-location-arrow"></i><span>Agent Address</span></div>
                <input class="form-control" type="text" value="28/C Green Road, India" [(ngModel)]="agentInfo.address"
                name="Address" id="Address" #haddress="ngModel" required [disabled]="agentInfo.status === 'Approved'">
                <div *ngIf="haddress.invalid && (haddress.dirty || haddress.touched)" class="alert alert-danger">
                  <div *ngIf="haddress.errors?.required">
                    <b>Address</b> is required.
                  </div>
                </div>
              </div>
                 <div class="mb-3">
                <div class="title mb-2"><i class="lni lni-add-files"></i><span>Add Grade</span></div>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Choose Grade</option>
                    <option *ngFor="let grade of listOfGrade" [value]="grade.code">
                      {{grade.value}}</option>
               </select>
              </div>
                
                
             
              <div class="mb-3">
                <div class="title mb-2"><i class="lni lni-phone"></i><span>Phone</span></div>
                <input class="form-control" type="text" value="+91 9732825345"[(ngModel)]="agentInfo.phoneNumber"
                name="phoneNumber" id="phoneNumber" #haddress="ngModel" required [disabled]="agentInfo.status === 'Approved'">
                <div *ngIf="haddress.invalid && (haddress.dirty || haddress.touched)" class="alert alert-danger">
                  <div *ngIf="haddress.errors?.required">
                    <b>Phone number</b> is required.
                  </div>
                </div>
              </div> 
                
                
              <div class="mb-3">
                <div class="title mb-2"><i class="lni lni-envelope"></i><span>Email Address</span></div>
                <input class="form-control" type="email" [(ngModel)]="agentInfo.emailid"
                id="emailid" name="emailid"
                #mail="ngModel" required [pattern]="emailPattern">
                <div *ngIf="mail.invalid && (mail.dirty ||mail.touched)" class="alert alert-danger">
                  <div *ngIf="mail.errors?.required">
                    <b>Mail Id</b> is required.
                  </div>
                  <div *ngIf="mail.errors?.pattern">   
                    <b>Email</b> is not valid.   
                  </div>
                </div>
              </div> 
              
                <div class="mb-3">
                <div class="title mb-2"><i class="lni lni-service"></i><span>Add Services</span></div>
                <div class="choose-size-wrapper text-end">
            
            <div class="choose-size-radio align-items-center services">
              <!-- Single Radio Input-->
              <div class="form-check mb-0 me-2" *ngFor="let amenity of agentInfo.amenities">
                <input class="form-check-input" [id]="amenity.code" type="checkbox"[(ngModel)]="amenity.checked"
                 name="amenity.code">
                <label class="form-check-label" [for]="amenity.code">{{amenity.value}}</label>
              </div>
            </div>
          </div>
              </div>
              
              <div class="title mb-2"><i class="fa fa-comments"></i><span>Comments </span></div>
              <div class="data-content">
              <div class="cart-table card mb-3">
                <div class="table-responsive card-body">
                  <table class="table mb-0">
                    <thead>
                      <tr >
                       
                        <th>Comments</th>
                        <th>Commented on </th>
                      </tr>
                    </thead>
                    <tbody>
                     <tr *ngFor="let comment of agentInfo.comments">
                       <td>{{comment.comment}}</td>
                       <td>{{comment.time}}</td>
                     </tr>
                    </tbody> 
                  </table>
                </div>
              </div>
            </div>


            <button class="btn btn-success w-25" *ngIf="userInfo.userType === 'ADMIN' && this.agentInfo.status==='Initiated'"  
            (click)="onClickOfOpenComment('Approved')" type="submit">Approve</button>
            &nbsp;<button class="btn btn-danger w-25" *ngIf="userInfo.userType === 'ADMIN' && this.agentInfo.status==='Initiated'"  
            (click)="onClickOfOpenComment('Rejected')" type="submit">Reject</button>
           <button class="btn btn-success w-100"
           [disabled]="!addagent.valid" *ngIf="userInfo.userType === 'BUSINESS'" (click)="onClickSubmit()" type="submit">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-comments-popup [confirmationModal]="confirmationModal"
(actionClick)="callBackFromPopup($event)"></app-comments-popup>