<div class="page-content-wrapper">
    <!-- Top Products-->
    <div class="top-products-area py-3">
     <div class="container">
      <div class="row gy-3">
        <div class="col-12">
          <a *ngIf="userInfo.userType !== 'ADMIN'" class="btn btn-primary btn-sm mt-3 col-1" [routerLink]="['/home/add-hotel']"><i class="fa fa-table"></i> Add </a>
        </div>
        
       
     <div class="col-12" *ngFor="let hotel of listOfHotels;let i = index">
          <!-- Single Vendor -->
          <div class="single-vendor-wrap bg-img p-4 bg-overlay" 
          [ngStyle]="{'background-image': 'url(' + getSrc(hotel) + ')'}">
            <h5 class="vendor-title text-white">{{hotel.hotelName}}</h5>
            <div class="vendor-info">
              <p class="mb-1 text-white">
                <svg class="bi bi-geo-alt me-1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                  <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"></path>
                  <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
                </svg>{{hotel.hotelAddress}}
              </p>
            </div>
            <div class="vendor-info">
              <p class="mb-1 text-white">
                Status : <b>{{hotel.status}} </b> 
              </p>
            </div>
            <ng-container *ngIf="userInfo.userType === 'ADMIN'">
              <a class="btn btn-primary btn-sm mt-3 col-1" [routerLink]="['/home/view-hotel',hotel._id]"><i class="fa fa-table"></i> View </a>
             <ng-container *ngIf="hotel.status === 'Initiated'">
              &nbsp;<button class="btn btn-success btn-sm mt-3"
              href="/comments-popup" (click)="onClickOfOpenComment(hotel, 'Approved')"> 
               <i class="fa fa-edit"></i> Approve </button> 
             &nbsp;<a class="btn btn-danger btn-sm mt-3"   (click)="onClickOfOpenComment(hotel, 'Rejected')" > <i class="fa fa-trash"></i> Reject </a>
             </ng-container>
             
            </ng-container>
            <ng-container *ngIf="userInfo.userType === 'BUSINESS'">
              <a class="btn btn-success btn-sm mt-3" [routerLink]="['/home/edit-hotel',hotel._id]"> <i class="fa fa-edit"></i> Edit </a> 
              &nbsp;<a class="btn btn-danger btn-sm mt-3" *ngIf="hotel.isActive" (click)="onClickOfDelete(hotel, i)"> <i class="fa fa-trash"></i> Deactivate </a>
              &nbsp;<a class="btn btn-danger btn-sm mt-3" *ngIf="!hotel.isActive" (click)="onClickOfActivate(hotel)"> <i class="fa fa-check"></i> Activate </a>
            </ng-container>

            <!-- Vendor Profile-->
           
          </div>
        </div>
        
      </div>
    </div>
    </div>
  </div>

  <app-comments-popup [confirmationModal]="confirmationModal"
  (actionClick)="callBackFromPopup($event)"></app-comments-popup>