<div class="page-content-wrapper">
      
    <div class="product-description pb-3">
    
     
      <div class="pb-3"></div>
      
     
      <!-- Ratings Submit Form-->
      <div class="ratings-submit-form bg-white py-3">
        <div class="container">
          <h6>Submit Your Feedback</h6>
          <form action="#" method="">
            <div class="stars mb-3">
              <input class="star-1" (click)="onClickRating(1)" type="radio" name="star" id="star1">
              <label class="star-1" for="star1"></label>
              <input class="star-2" (click)="onClickRating(2)" type="radio" name="star" id="star2">
              <label class="star-2" for="star2"></label>
              <input class="star-3" type="radio" (click)="onClickRating(3)" name="star" id="star3">
              <label class="star-3" for="star3"></label>
              <input class="star-4" type="radio" (click)="onClickRating(4)" name="star" id="star4">
              <label class="star-4" for="star4" ></label>
              <input class="star-5" type="radio" (click)="onClickRating(5)" name="star" id="star5">
              <label class="star-5" for="star5"></label><span></span>
            </div>
            <textarea class="form-control mb-3" [(ngModel)]="comment" id="comments" name="comment" cols="30" rows="10" data-max-length="400" placeholder="Write your review..."></textarea>
            <div class="mb-3">
            <div class="title mb-2"><i class="fa fa-upload" style="margin-right: .4rem;"></i><span>Upload Photo</span></div>
             <input class="form-control" type="file" (change)="onSelectFile($event,'photo')" >
            </div>
            <button class="btn btn-sm btn-primary" (click)="onClickSubmit()" type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>