  <!-- Footer Nav-->
  <div class="footer-nav-area" id="footerNav">
    <div class="container h-100 px-0">
      <div class="footer-nav h-100">
        <ul class="h-100 d-flex align-items-center justify-content-between ps-0">
          <li  ><a [routerLink]="['/home']"><i class="fa fa-home"></i>Home</a></li>
          <li><a [routerLink]="['/home/hotels']"><i class="fa fa-building"></i>Hotels</a></li>
          <li><a [routerLink]="['/home/tickets']"><i class="fa fa-ticket"></i>Ticket</a></li>
          <li><a [routerLink]="['/home/permit-info']"><i class="fa fa-info-circle"></i>Permit & Info</a></li>
          <li><a [routerLink]="['/home/feedback']"><i class="fa fa-user-circle-o"></i>Feed Back</a></li>
        </ul>
      </div>
    </div>
  </div>