<div class="page-content-wrapper">
  <!-- Top Products-->
  <div class="top-products-area py-3">
    <div class="container">
      <div class="section-heading d-flex align-items-center justify-content-between">
        <h6>All Products</h6>

      </div>
      <div class="product-catagories">
        <div class="row g-3">

          <div class="col-3"><a class="shadow-sm" (click)="onClickOfLevel('Easy')">Easy</a></div>

          <div class="col-3"><a class="shadow-sm" (click)="onClickOfLevel('Moderate')">Moderate</a></div>

          <div class="col-3"><a class="shadow-sm" (click)="onClickOfLevel('Difficult')">Difficult</a></div>

          <div class="col-3"> <a class="shadow-sm" (click)="onClickOfLevel('Extreme')">Extreme</a></div>
        </div>
      </div>
      <div class="row g-3">
        <!-- Single Blog Card-->
        <div class="col-12 col-md-6" *ngFor="let trek of treks">
          <div class="card blog-card list-card">
            <div class="post-img"><img [src]="getSrc(trek)" alt=""></div>
            <a class="btn btn-warning btn-sm read-more-btn" [routerLink]="['/home/trek', trek._id]">Read More</a>
            <div class="post-content">
              <div class="bg-shapes">
                <div class="circle1"></div>
                <div class="circle2"></div>
                <div class="circle3"></div>
                <div class="circle4"></div>
                <a class="post-catagory d-block" href="#">{{trek.level}}</a>
                <a class="post-title d-block" href="#">{{trek.trekName}}</a>
                <div class="post-meta d-flex align-items-center justify-content-between flex-wrap"><a href="#"><i
                      class="lni lni-user"></i>Min. Age {{trek.minAge}}</a><span><i class="lni lni-timer"></i>{{trek.days}} Days</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>