<div class="page-content-wrapper">
  <div class="product-slide-wrapper">
    <div class="product-slides owl-carousel" #product>
      <div #products *ngFor="let slide of destination?.images" class="single-product-slide"><img src={{slide.path}} alt=""></div>
    </div>
  </div>
  <div class="product-description pb-3" *ngIf="destination">
    <!-- Product Title & Meta Data-->
    <div class="product-title-meta-data bg-white mb-3 py-3">
      <div class="container d-flex justify-content-between">
        <div class="p-title-price">
          <h6 class="mb-1">{{destination.destName}}</h6>
          <p class="sale-price mb-0">Location :<span>{{destination.address}}</span></p>
        </div>

      </div>
      <!-- Product Specification-->
      <div class="p-specification bg-white mb-3 py-3">
        <div class="container">
          <h6>About The Destination</h6>
          <p>{{destination.about}}</p>
        </div>
      </div>

    </div>
  </div>
  <!-- <div class="selection-panel bg-white mb-3 py-3" *ngIf="destination?.ticketBooking">
    <div class="container d-flex align-items-center justify-content-between">
      <div class="choose-color-wrapper">
        <p class="mb-1 font-weight-bold">Add Adults</p>
        <div class="choose-color-radio d-flex align-items-center">
          <form class="cart-form" action="#" method="">
            <div class="order-plus-minus d-flex align-items-center">
              <div class="quantity-button-handler" (click)="onClickOfAdultCount('Minus')">-</div>
              <input class="form-control cart-quantity-input" type="text" step="1" name="quantity" [(ngModel)]="adultCount">
              <div class="quantity-button-handler" (click)="onClickOfAdultCount('Plus')">+</div>
            </div>
          </form>
        </div>
      </div>
      <div class="choose-size-wrapper text-end">
        <p class="mb-1 font-weight-bold">Add Children</p>
        <div class="choose-size-radio d-flex align-items-center">
          <form class="cart-form" action="#" method="">
            <div class="order-plus-minus d-flex align-items-center">
              <div class="quantity-button-handler" (click)="onClickOfChildrenCount('Minus')">-</div>
              <input class="form-control cart-quantity-input" type="text" step="1" name="quantity" [(ngModel)]="childrenCount">
              <div class="quantity-button-handler" (click)="onClickOfChildrenCount('Plus')">+</div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div> -->

  <!-- <div class="cart-form-wrapper bg-white mb-3 py-3" *ngIf="destination?.ticketBooking">
    <div class="container">
      <p class="mb-1 font-weight-bold">Choose Date</p>
      <input class="form-control date-icon" type="date" [(ngModel)]="selectDate" name="bookingDate" id="bookingDate">
  
    </div>
  </div> -->
<!-- <div class="cart-form-wrapper bg-white mb-3 py-3" *ngIf="destination.ticketBooking">
  <div class="container">

    <form class="cart-form" action="#" method="">

      <button class="btn btn-primary" type="submit" (click)="onClickOfAddToCart()">Add To Cart</button>
    </form>
  </div>
</div> -->
</div>
