<div class="login-wrapper d-flex align-items-center justify-content-center text-center">
      <!-- Background Shape-->
      <!--<div class="background-shape"></div>-->
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-sm-9 col-md-7 col-lg-6 col-xl-5"><img class="big-logo" src="../../assets/img/logo-white.png" alt="">
            <!-- Register Form-->
            <div class="register-form mt-5 px-4">
              <form #userRegister="ngForm">
                <div class="form-group text-start mb-4"><span><b class="red">*</b> Username</span>
                  <label for="username"><i class="lni lni-user"></i></label>
                  <input class="form-control" id="username" name="username" 
                  #usrName="ngModel" required type="text" [(ngModel)]="userInfo.userName" placeholder="Enter your Name">
                  <div *ngIf="usrName.invalid && (usrName.dirty || usrName.touched)" class="alert alert-danger">
                    <div *ngIf="usrName.errors?.required">
                      <b>User Name</b> is required. </div>
                      <!-- <div *ngIf="mail.errors?.pattern">   
                        <b>Password</b> is not valid.   
                      </div> -->
                    </div>
                </div>
				 <div class="form-group text-start mb-4"><span><b class="red">*</b>Mobil Number</span>
                  <label for="username"><i class="lni lni-phone"></i></label>
                  <input class="form-control" id="phno" [pattern]="phoneNoPatter" #phone="ngModel" required name="phno" type="text" [(ngModel)]="userInfo.phoneNumber" placeholder="Enter your number">
               
                  <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="alert alert-danger">
                    <div *ngIf="phone.errors?.required">
                      <b>Phone Number</b> is required. </div>
                      <div *ngIf="phone.errors?.pattern">   
                        <b>Phone Number</b> is not valid.   
                      </div>
                    </div>
                </div>
                <div class="form-group text-start mb-4"><span><b class="red">*</b>Email</span>
                  <label for="email"><i class="lni lni-envelope"></i></label>
                  <input class="form-control" id="email" [pattern]="emailPattern" name="email" type="email" #mail="ngModel" required [(ngModel)]="userInfo.emailId" placeholder="help@example.com">
                  <div *ngIf="mail.invalid && (mail.dirty || mail.touched)" class="alert alert-danger">
                    <div *ngIf="mail.errors?.required">
                      <b>Email</b> is required. </div>
                      <div *ngIf="mail.errors?.pattern">   
                        <b>Password</b> is not valid.   
                      </div>
                    </div>
                </div>
                <div class="form-group text-start mb-4"><span><b class="red">*</b>Password</span>
                  <label for="password"><i class="lni lni-lock"></i></label>
                  <input class="input-psswd form-control" name="current-password"
                   id="current-password" [pattern]="pwdPattern"  [(ngModel)]="userInfo.password"
                   #pass="ngModel" required type="password" placeholder="Password">
                   <div *ngIf="pass.invalid && (pass.dirty || pass.touched)" class="alert alert-danger">
                    <div *ngIf="pass.errors?.required">
                      <b>Password</b> is required. </div>
                      <div *ngIf="pass.errors?.pattern">   
                        <b>Password</b> is not valid.   
                      </div>
                    </div>
                </div>
                <div class="form-group text-start mb-4"><span><b class="red">*</b>Confirm Password</span>
                    <label for="password"><i class="lni lni-lock"></i></label>
                    <input class="form-control" [pattern]="pwdPattern" id="cpassword"
                    #cpass="ngModel" required name="cpassword" type="password" [(ngModel)]="confirmPassword" placeholder="Confirm Password">
                    <div *ngIf="cpass.invalid && (cpass.dirty || cpass.touched)" class="alert alert-danger">
                        <div *ngIf="cpass.errors?.required">
                          <b>Confirm Password</b> is required. </div>
                          <div *ngIf="cpass.errors?.pattern">   
                            <b>Confirm Password</b> is not valid.   
                          </div>
                        </div>
                
                </div>
                <button class="btn btn-warning btn-lg w-100" type="submit"
                [disabled]="!userRegister.valid"  (click)="onClickOfSubmit()">Sign Up</button>
              </form>
            </div>
            <!-- Login Meta-->
            <div class="login-meta-data">
              <p class="mt-3 mb-0">Already have an account?<a class="ms-1" [routerLink]="['/login',userInfo.userType ]">Sign In</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>