 
<div class="modal" id="comments" style="background: #00000094;" role="text">
    <div class="modal-dialog">
        <div class="modal-content " style="background:white;">
            <!-- Modal Header --> 
            <br/>
            <div class="row">
                <h4 class="modal-title col-10" style="text-align: center;">Comment</h4>
                <button type="button" 
                class="btn btn-danger btn-sm close col-1" (click)="onClickOfActionInPopup()">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form>
                    <fieldset style="border:0;">
                        
                        <ul style="list-style:none">
                            <li>
                                <div class="alert alert-danger">
                                    <div><b>Comment</b> is required. </div>
                                </div>
                                <textarea id="textarea" rows="5" name="com"
                                style="width:100%" [(ngModel)]="comment"></textarea>
                            </li>
                            <li>
                                <input class="btn btn-success btn-sm mt-3"
                                 type="submit" (click)="onClickSubmit()">
                            </li>
                        </ul>
                    </fieldset>
                </form>
            </div>
        </div>

      
    </div>
</div>