
<!-- <div class="login-wrapper d-flex align-items-center justify-content-center text-center"> -->
    <!-- <div class="alert alert-success">
        <strong>Success!</strong> Indicates a successful or positive action.
      </div> -->
    <!--<div class="background-shape"></div>-->
    <!-- <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-9 col-md-7 col-lg-6 col-xl-5">
          <div class="register-form mt-5 px-4">
            <form #userRegister="ngForm">
              <div class="form-group text-start mb-4"><span><b class="red">*</b>Admin User Name</span>
                <label for="username"><i class="lni lni-user"></i></label>
                <input class="form-control" id="username" name="username" 
                #usrName="ngModel" required type="text" [(ngModel)]="userInfo.userName" placeholder="Enter your Name">
                <div *ngIf="usrName.invalid && (usrName.dirty || usrName.touched)" class="alert alert-danger">
                  <div *ngIf="usrName.errors?.required">
                    <b>User Name</b> is required. </div>
                  </div>
              </div>
               <div class="form-group text-start mb-4"><span><b class="red">*</b>Mobil Number</span>
                <label for="username"><i class="lni lni-phone"></i></label>
                <input class="form-control" id="phno" [pattern]="phoneNoPatter" #phone="ngModel" required name="phno" type="text" [(ngModel)]="userInfo.phoneNumber" placeholder="Enter your number">
             
                <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="alert alert-danger">
                  <div *ngIf="phone.errors?.required">
                    <b>Phone Number</b> is required. </div>
                    <div *ngIf="phone.errors?.pattern">   
                      <b>Phone Number</b> is not valid.   
                    </div>
                  </div>
              </div>
              <div class="form-group text-start mb-4"><span><b class="red">*</b>Email</span>
                <label for="email"><i class="lni lni-envelope"></i></label>
                <input class="form-control" id="email" [pattern]="emailPattern" name="email" type="email" #mail="ngModel" required [(ngModel)]="userInfo.emailId" placeholder="help@example.com">
                <div *ngIf="mail.invalid && (mail.dirty || mail.touched)" class="alert alert-danger">
                  <div *ngIf="mail.errors?.required">
                    <b>Email</b> is required. </div>
                    <div *ngIf="mail.errors?.pattern">   
                      <b>Email</b> is not valid.   
                    </div>
                  </div>
              </div>
              <button class="btn btn-warning btn-lg w-100" type="submit"
              [disabled]="!userRegister.valid"  (click)="onClickOfSubmit()">Create User</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div> -->


  <div class="page-content-wrapper">
    <div class="container">
      <!-- Profile Wrapper-->
      <div class="profile-wrapper-area py-3">
        <!-- User Information-->
        <div class="card user-info-card">
          <div class="card-body p-4 d-flex align-items-center" style="padding: 5px ! important;">
            <div class="user-profile me-3"><img [src]="userInfo.profile" alt=""> 
              <div class="change-user-thumb">
               
              </div>
            </div>
            <div class="user-info">
              <h5 class="mb-0">Create Admin User</h5>
            </div>
          </div>
        </div>
        <!-- User Meta Data-->
        <div class="card user-data-card">
          <div class="card-body">
            <form #userRegister="ngForm">
              <div class="mb-3">
                <div class="title mb-2"><i class="lni lni-user"></i><span>Username</span></div>
                <input class="form-control" id="username" name="username" 
                #usrName="ngModel" required type="text" [(ngModel)]="userInfo.userName" [disabled]="viewMode" placeholder="Enter your Name">
                <div *ngIf="usrName.invalid && (usrName.dirty || usrName.touched)" class="alert alert-danger">
                  <div *ngIf="usrName.errors?.required">
                    <b>User Name</b> is required. </div>
                  </div>
              </div>
              <div class="mb-3">
                <div class="title mb-2"><i class="lni lni-user"></i><span>Phone number</span></div>
                <input class="form-control" id="phno" [pattern]="phoneNoPatter" #phone="ngModel" [disabled]="viewMode" required name="phno" type="text" [(ngModel)]="userInfo.phoneNumber" placeholder="Enter your number">
             
                <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="alert alert-danger">
                  <div *ngIf="phone.errors?.required">
                    <b>Phone Number</b> is required. </div>
                    <div *ngIf="phone.errors?.pattern">   
                      <b>Phone Number</b> is not valid.   
                    </div>
                  </div>
              </div>
              <div class="mb-3">
                <div class="title mb-2"><i class="lni lni-phone"></i><span>Email Id</span></div>
                <input class="form-control" id="email" [pattern]="emailPattern" name="email" type="email" [disabled]="viewMode" #mail="ngModel" required [(ngModel)]="userInfo.emailId" placeholder="help@example.com">
                <div *ngIf="mail.invalid && (mail.dirty || mail.touched)" class="alert alert-danger">
                  <div *ngIf="mail.errors?.required">
                    <b>Email</b> is required. </div>
                    <div *ngIf="mail.errors?.pattern">   
                      <b>Email</b> is not valid.   
                    </div>
                  </div>
              </div>

              <div class="mb-3">
                <div class="title mb-2"><i class="lni lni-user"></i><span>Role</span></div>
              
                <select class="form-select" aria-label="Default select example" [disabled]="viewMode"
                  name="district" id="district" [(ngModel)]="userInfo.role" required #role="ngModel">
                  <option value="" selected>Choose Role</option>
                  <option *ngFor="let role of roles" [value]="role.code">{{role.value}}</option>
                </select>
                <div *ngIf="role.invalid && (role.dirty || role.touched)" class="alert alert-danger">
                  <div *ngIf="role.errors?.required">
                    <b>Role</b> is required.
                  </div>
                </div>
              </div>
               
              <button class="btn btn-success w-100" type="submit" *ngIf="!viewMode"
              [disabled]="!userRegister.valid"  (click)="onClickOfSubmit()">Create User</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>