<!-- <div class="login-wrapper d-flex align-items-center justify-content-center text-center">
    <div class="background-shape"></div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-9 col-md-7 col-lg-6 col-xl-5"><img class="big-logo" src="../../assets/img/logo-white.png" alt="">
          <div class="register-form mt-5 px-4">
            <form action="home.html" method="">
              <div class="form-group text-start mb-4"><span>Username</span>
                <label for="username"><i class="lni lni-user"></i></label>
                <input class="form-control" disabled id="username" type="text" placeholder="info@example.com">
              </div>
              <div class="form-group text-start mb-4"><span>Password</span>
                <label for="password"><i class="lni lni-lock"></i></label>
                <input class="form-control" disabled id="password" type="password" placeholder="Password">
              </div>
              <button class="btn btn-warning btn-lg w-100" disabled type="submit">Log In</button>
            </form>
          </div>
          <div class="login-meta-data"><a class="forgot-password d-block mt-3 mb-1" href="forget-password.html">Forgot Password?</a>
            <p class="mb-0">Didn't have an account?<a class="ms-1" href="register.html">Register Now</a></p>
          </div>
          <div class="view-as-guest mt-3"><a class="btn" (click)="loginWithGoogle()">Sign in with Google</a></div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="login-wrapper d-flex align-items-center justify-content-center text-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-9 col-md-7 col-lg-6 col-xl-5">
        <img class="big-logo" src="../../assets/img/logo-white.png" alt="">
        <p style="color: #020310; margin-top: 10px;">Government of Sikkim</p>
        <!-- Register Form-->
        <div class="register-form mt-5 px-4">
          <form #login="ngForm">
            <div class="form-group text-start mb-4"><span>Username</span>
              <label for="username"><i class="lni lni-user"></i></label>
              <input class="form-control" id="username" name="username" #mail="ngModel"
              [pattern]="emailPattern" required  [(ngModel)]="loginDetails.emailId" type="text" placeholder="info@example.com">
              <div *ngIf="mail.invalid && (mail.dirty || mail.touched)" class="alert alert-danger">
                <div *ngIf="mail.errors?.required">
                  <b>Email</b> is required. </div>
                  <div *ngIf="mail.errors?.pattern">   
                    <b>Email</b> is not valid.   
                  </div>
                </div>
            </div>
            <div class="form-group text-start mb-4"><span>Password</span>
              <label for="password"><i class="lni lni-lock"></i></label>
              <input class="form-control" id="password" name="password" #pass="ngModel"
              [pattern]="pwdPattern" required type="password" [(ngModel)]="loginDetails.password" placeholder="Password">
              <div *ngIf="pass.invalid && (pass.dirty || pass.touched)" class="alert alert-danger">
                <div *ngIf="pass.errors?.required">
                  <b>Password</b> is required. </div>
                  <div *ngIf="pass.errors?.pattern">   
                    <b>Password</b> is not valid.   
                  </div>
                </div>
            </div>
      

            <button [disabled]="!login.valid" class="btn btn-warning btn-lg w-100" type="submit" (click)="onClickOfLogin()">Log In</button>
          </form>
        </div>
        <!-- Login Meta-->
        <div class="login-meta-data"><a class="forgot-password d-block mt-3 mb-1" [routerLink]="['/forget-password', this.loginDetails.userType]">Forgot Password?</a>
          <p *ngIf="loginDetails.userType !== 'ADMIN'" class="mb-0">Don't have an account?<a class="ms-1" [routerLink]="['/user-register',loginDetails.userType]">Register Now</a></p>
        </div>
        <!-- View As Guest-->
        <div *ngIf="loginDetails.userType !== 'ADMIN'" class="view-as-guest mt-3"><a class="btn" (click)="loginWithGoogle()">Sign in with Google</a></div>
        <!-- <div class="view-as-guest mt-3"><a class="btn" href="home.html">View as Guest</a></div> -->
      </div>
    </div>
  </div>  </div>