<div class="page-content-wrapper">
		
    <div class="container">
   <div class="pt-3">
     <!-- Hero Slides-->
     <div class="hero-slides owl-carousel"#carousel>
       <!-- Single Hero Slide-->
       <div class="single-hero-slide" style="background-image: url('../../../assets/img/bg-img/1.jpg')">
         <div class="slide-content h-100 d-flex align-items-center">
           <div class="slide-text">
             <h4 class="text-white mb-0" data-animation="fadeInUp" data-delay="100ms" data-duration="1000ms">Gangtok</h4>
             <p class="text-white" data-animation="fadeInUp" data-delay="400ms" data-duration="1000ms">Capital of Sikkim</p>
               <!--<a class="btn btn-primary btn-sm" href="#" data-animation="fadeInUp" data-delay="800ms" data-duration="1000ms">Book Now</a>-->
               

           </div>
         </div>
       </div>
       <!-- Single Hero Slide-->
       <div class="single-hero-slide" style="background-image: url('../../../assets/img/bg-img/2.jpg')">
         <div class="slide-content h-100 d-flex align-items-center">
           <div class="slide-text">
             <h4 class="text-white mb-0" data-animation="fadeInUp" data-delay="100ms" data-duration="1000ms">Tsongmo Lake</h4>
             <p class="text-white" data-animation="fadeInUp" data-delay="400ms" data-duration="1000ms">East Sikkim</p>
               

           </div>
         </div>
       </div>
       <!-- Single Hero Slide-->
       <div class="single-hero-slide" style="background-image: url('../../../assets/img/bg-img/6.jpg')">
         <div class="slide-content h-100 d-flex align-items-center">
           <div class="slide-text">
             <h4 class="text-white mb-0" data-animation="fadeInUp" data-delay="100ms" data-duration="1000ms">Gangtok</h4>
             <p class="text-white" data-animation="fadeInUp" data-delay="400ms" data-duration="1000ms">Capital of Sikkim</p>
               


           </div>
         </div>
       </div>
         <div class="single-hero-slide" style="background-image: url('../../../assets/img/bg-img/3.jpg')">
         <div class="slide-content h-100 d-flex align-items-center">
           <div class="slide-text">
             <h4 class="text-white mb-0" data-animation="fadeInUp" data-delay="100ms" data-duration="1000ms">Zuluk</h4>
             <p class="text-white" data-animation="fadeInUp" data-delay="400ms" data-duration="1000ms">East Sikkim</p>
               

           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
   
 <!-- Top Products-->
 <div class="top-products-area py-3">
   <div class="container">
     
   
   <div class="row g-3">
       <!-- hotel Single -->
       <div class="col-12 col-md-6 hotel-details">
         <div class="card collection-card2"><a href="hotel-details.html"><img src="../../../assets/img/trekking3.jpg" alt=""></a>
       <div class="collection-title"><span>Mountaineering</span>
           
            
             </div>
     </div>
       </div>
       <!-- hotel Single -->
       <div class="col-12 col-md-6">
        <div class="card collection-card2"><a href="hotel-details.html"><img src="../../../assets/img/yak.jpg" alt=""></a>
       <div class="collection-title"><span>Yak Safari</span>
           
            
             </div>
     </div>
       </div>
       <!-- hotel Single -->
       <div class="col-12 col-md-6">
        <div class="card collection-card2"><a href="hotel-details.html"><img src="../../../assets/img/camping.jpg" alt=""></a>
       <div class="collection-title"><span>Camping</span>
           
            
             </div>
     </div>
       </div>
       <!-- hotel Single -->
       <div class="col-12 col-md-6">
         <div class="card collection-card2"><a href="hotel-details.html"><img src="../../../assets/img/zip-line.jpg" alt=""></a>
       <div class="collection-title"><span>Zip Line</span>
           
            
             </div>
     </div>
       </div>
       <!-- hotel Single -->
       <div class="col-12 col-md-6">
        <div class="card collection-card2"><a href="hotel-details.html"><img src="../../../assets/img/paragliding.jpg" alt=""></a>
       <div class="collection-title"><span>Paragliding</span>
           
            
             </div>
     </div>
       </div>
       <!-- hotel Single  -->
       <div class="col-12 col-md-6">
       <div class="card collection-card2"><a href="hotel-details.html"><img src="../../../assets/img/product/pilgrimage.jpg" alt=""></a>
       <div class="collection-title"><span>Siddheshwar Dham (Char Dham)</span>
           
            
             </div>
     </div>
       </div>

     </div>
   </div>
 </div>
</div>
