<div class="page-content-wrapper">
    <div class="container">
      <div class="pt-3">
        <!-- Hero Slides-->
        <div class="hero-slides owl-carousel" #carousel>
          <!-- Single Hero Slide-->
          <div class="single-hero-slide" style="background-image: url('../../../assets/img/bg-img/1.jpg')">
            <div class="slide-content h-100 d-flex align-items-center">
              <div class="slide-text">
                <h4 class="text-white mb-0" data-animation="fadeInUp" data-delay="100ms" data-duration="1000ms">Gangtok</h4>
                <p class="text-white" data-animation="fadeInUp" data-delay="400ms" data-duration="1000ms">Capital of Sikkim</p>
                  <!--<a class="btn btn-primary btn-sm" href="#" data-animation="fadeInUp" data-delay="800ms" data-duration="1000ms">Book Now</a>-->
                  

              </div>
            </div>
          </div>
          <!-- Single Hero Slide-->
          <div class="single-hero-slide" style="background-image: url('../../../assets/img/bg-img/2.jpg')">
            <div class="slide-content h-100 d-flex align-items-center">
              <div class="slide-text">
                <h4 class="text-white mb-0" data-animation="fadeInUp" data-delay="100ms" data-duration="1000ms">Tsongmo Lake</h4>
                <p class="text-white" data-animation="fadeInUp" data-delay="400ms" data-duration="1000ms">East Sikkim</p>
                  

              </div>
            </div>
          </div>
          <!-- Single Hero Slide-->
          <div class="single-hero-slide" style="background-image: url('../../../assets/img/bg-img/6.jpg')">
            <div class="slide-content h-100 d-flex align-items-center">
              <div class="slide-text">
                <h4 class="text-white mb-0" data-animation="fadeInUp" data-delay="100ms" data-duration="1000ms">Gangtok</h4>
                <p class="text-white" data-animation="fadeInUp" data-delay="400ms" data-duration="1000ms">Capital of Sikkim</p>
                  


              </div>
            </div>
          </div>
            <div class="single-hero-slide" style="background-image: url('../../../assets/img/bg-img/3.jpg')">
            <div class="slide-content h-100 d-flex align-items-center">
              <div class="slide-text">
                <h4 class="text-white mb-0" data-animation="fadeInUp" data-delay="100ms" data-duration="1000ms">Zuluk</h4>
                <p class="text-white" data-animation="fadeInUp" data-delay="400ms" data-duration="1000ms">East Sikkim</p>
                  

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Product Catagories -->
    <div class="product-catagories-wrapper py-3">
      <div class="container">
        
        <div class="product-catagory-wrap">
          <div class="row g-3">
            <!-- Single Catagory Card -->
            <div class="col-4">
              <div class="card catagory-card">
                <div class="card-body"><a class="text-danger" [routerLink]="['/home/experiences', 'Adventure']" routerLink="/home/experience">
                   <img src="../../../assets/img/adventure.svg" alt="hotel" height="35" class="mb-2" >
                    <span>Adventure</span></a></div>
              </div>
            </div>
            <!-- Single Catagory Card -->
            <div class="col-4">
              <div class="card catagory-card">
                <div class="card-body"><a class="text-danger" [routerLink]="['/home/experiences', 'Pilgrimage']">
                    <img src="../../../assets/img/pilgrimage.svg" alt="pilgrimage" height="35"  class="mb-2" ><span>Pilgrimage</span></a></div>
              </div>
            </div>
            <!-- Single Catagory Card -->
            <div class="col-4">
              <div class="card catagory-card">
                <div class="card-body"><a class="text-warning" [routerLink]="['/home/experiences', 'FloraFauna']">
                    <img src="../../../assets/img/flora.svg" alt="flora" height="35"  class="mb-2" ><span>Flora & Fauna</span></a></div>
              </div>
            </div>
            <!-- Single Catagory Card -->
            <div class="col-4">
              <div class="card catagory-card">
                <div class="card-body"><a class="text-success"   [routerLink]="['/home/experiences', 'MusicDance']">
                    <img src="../../../assets/img/music.svg" alt="tour" height="35"  class="mb-2" ><span>Music & dance</span></a></div>
              </div>
            </div>
            <!-- Single Catagory Card -->
            <div class="col-4">
              <div class="card catagory-card">
                <div class="card-body"><a class="text-danger"  [routerLink]="['/home/experiences', 'Cuisines']">
                    <img src="../../../assets/img/cuisines.svg" alt="Cuisines" height="35"  class="mb-2" ><span>Cuisines</span></a></div>
              </div>
            </div>
            <!-- Single Catagory Card -->
            <div class="col-4">
              <div class="card catagory-card">
                <div class="card-body"><a class="text-info"  [routerLink]="['/home/experiences', 'Festivals']">
                    <img src="../../../assets/img/festivals.svg" alt="festivals" height="35"  class="mb-2" ><span>Festivals</span></a></div>
              </div>
            </div>
              
          
              
          </div>
        </div>
      </div>
    </div>
    <!-- Flash Sale Slide -->
      
      
      
   
   
    <div class="container">
      <div class="section-heading d-flex align-items-center justify-content-between">
        <h6>Top Visited Places</h6><a class="btn" href="#">View All</a>
      </div>
      <!-- Collection Slide-->
      <div class="collection-slide owl-carousel" #collection>
        <!-- Collection Card-->
        <div class="card collection-card"><a href="destinations.html"><img src="../../../assets/img/product/bhuddapark.jpg" alt=""></a>
          <div class="collection-title"><span>Bhudda Park</span><span>South Sikkim</span></div>
        </div>
        <!-- Collection Card-->
        <div class="card collection-card"><a href="destinations.html"><img src="../../../assets/img/product/gurudongmar.jpg" alt=""></a>
          <div class="collection-title"><span>Gurudongmar Lake</span><span>North Sikkim</span></div>
        </div>
        <!-- Collection Card-->
        <div class="card collection-card"><a href="destinations.html"><img src="../../../assets/img/product/mg-marg.jpg" alt=""></a>
          <div class="collection-title"><span>MG Marg</span><span>East Sikkim</span></div>
        </div>
        <!-- Collection Card-->
        <div class="card collection-card"><a href="destinations.html"><img src="../../../assets/img/product/tsomgo-lake.jpg" alt=""></a>
          <div class="collection-title"><span>Tsongmo Lake</span><span>East Sikkim</span></div>
        </div>
        <!-- Collection Card-->
        <div class="card collection-card"><a href="destinations.html"><img src="../../../assets/img/product/rabdensy.jpg" alt=""></a>
          <div class="collection-title"><span>Rabdentse</span><span>West Sikkim</span></div>
        </div>
        <!-- Collection Card-->
        <div class="card collection-card"><a href="destinations.html"><img src="../../../assets/img/product/pilgrimage.jpg" alt=""></a>
          <div class="collection-title"><span>Siddheshwar Dham (Char Dham)</span><span>South Sikkim</span></div>
        </div>
      </div>
      <div class="pb-3"></div>
    </div>
  </div>