<div class="page-content-wrapper">
    <div class="container">
      <!-- Profile Wrapper-->
      <div class="profile-wrapper-area py-3">

        <div class="product-catagories">
          <div class="row g-3">
  
            <!-- <div class="col-3"><a class="shadow-sm" (click)="onClickOfLevel('false')">single permit</a></div>
  
            <div class="col-3"><a class="shadow-sm" (click)="onClickOfLevel('true')">group permit</a></div> -->
          </div>
        </div>
        
        <!-- User Meta Data-->
        <div class="card user-data-card">
          <div class="card-body">
             
              <div class="mb-3">
                <div class="title mb-2"><i class="lni lni-user"></i><span>Permit Type</span></div>
                <input class="star-1" type="radio" name="permitType" id="permitType" [(ngModel)]="permitType" value="Individual">
                <label class="star-1 radio" for="Individual" style="margin-left: 5px">Individual</label> &nbsp;&nbsp;
                <input class="star-1" type="radio" name="permitType" id="permitType" [(ngModel)]="permitType" value="Group">
                <label class="star-1 radio" style="margin-left: 5px" for="Group">Group</label>
              </div>

              <div class="mb-3">
                <div class="title mb-2"><i class="lni lni-user"></i><span>Destination</span></div>
                 {{destination.destName}}
              </div>
              <ng-container *ngIf="permitType === 'Individual'">

                
            <div class="mb-3">
              <div class="title mb-2"><i class="lni lni-user"></i><span>Document Type</span></div>
            
              <select  [(ngModel)]="documentType" name="documentType" class="form-control">
                  <option>---Select---</option>
                  <option value="AADHAR">Aadhar</option>
                  <option value="DL">Driving License</option>
                  <option value="PAN">PAN Card</option>
              </select>
            </div>
            <div class="mb-3">
              <div class="title mb-2"><i class="lni lni-user"></i><span>Document Number</span></div>
              <input class="form-control" type="text" id="document" [(ngModel)]="documentNumber" 
              name="document" >
            </div>
         
           
              <div class="mb-3">
              <div class="title mb-2"><i class="lni lni-certificate"></i><span>Photo</span></div>
              <input class="form-control" type="file" (change)="onSelectPhoto($event, null )">
            </div>

              </ng-container>
               <ng-container *ngIf="permitType === 'Group'">

              
              <div class="data-content">
                <button class="btn btn-primary btn-sm" (click)="onClickOfAdd()" >Add </button></div>
              <div class="cart-table card mb-3">
                <div class="table-responsive card-body">
                  <table class="table mb-0">
                    <thead>
                      <tr>
                        <th>Action</th>
                        <th>Document Type</th>
                        <th>Document Number</th>
                        <th>Photo</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let permit of listOfPermits; let i = index">
                        <th scope="row"><a class="remove-product" (click)="onClickOfDelete(i)"><i class="lni lni-close"></i></a></th>
                        <td> <select  [(ngModel)]="permit.documentType" name="documentType" class="form-control">
                          <option value="">---Select---</option>
                          <option value="AADHAR">Aadhar</option>
                          <option value="DL">Driving License</option>
                          <option value="PAN">PAN Card</option>
                      </select></td>
                        <td> <input class="form-control" type="text" id="document" [(ngModel)]="permit.documentNumber" 
                          name="document" ></td>
                        <td> <input class="form-control" type="file" (change)="onSelectPhoto($event, permit)"></td>
                      </tr>
                    </tbody> 
                  </table>
                </div>
              </div>
            </ng-container>
              <button class="btn btn-success w-100" type="submit" (click)="onClickSubmit()">Apply Permit</button>
            
          </div>
        </div>
      </div>
    </div>
  </div>