<div class="page-content-wrapper">
		
    
  <!-- Top Products-->
  <div class="top-products-area py-3">
    <div class="container">
     
     <div class="row g-3">

        <div class="col-12 col-md-6" *ngFor="let destination of destinations">
            <div class="card blog-card list-card">
              <!-- Post Image-->
              <div class="post-img2"><a><img  [src]="getSrc(destination)" alt=""></a></div>
              
              <!-- Read More Button--><a class="btn btn-warning btn-sm read-more-btn" [routerLink]="['/home/book-ticket',destination._id]">Book Tickets</a>

              <div class="post-content">
                <div class="bg-shapes">
                  <div class="circle1"></div>
                  <div class="circle2"></div>
                  <div class="circle3"></div>
                  <div class="circle4"></div>
                </div>
                <!-- Post Catagory--><a class="post-catagory2 d-block" [routerLink]="['/home/book-ticket',destination._id]">{{destination.address}}</a>
                <!-- Post Title--><a class="post-title d-block" [routerLink]="['/home/book-ticket',destination._id]">{{destination.destName}}</a>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>