.custom-alert {  
    width:300px;  
}  
  
.modal-backdrop.in {  
    opacity: 0.9;  
}  
  
.modal-body {  
    background-color: whitesmoke;  
    border-radius: 11px;  
}  
  
.modal {  
    background-color: rgba(58, 51, 51, 0.4);  
    padding-top:5px;  
}  
  
.confirm-message {  
    font-weight:bold;  
    margin-bottom:0px;  
    margin-top:5px;  
}  
  
.confirm-button {  
    text-align: center;  
    margin: 15px 0px 15px 0px;  
}  
  
.btn-no {  
    background-color: #f4516c;  
    color:white;  
}  
  
.btn-yes {  
    background-color: #716aca;  
    color:white;  
}   