<div *ngIf="message" class="modal" tabindex="-1" role="dialog" style="display:block!important">    
    <div class="modal-dialog custom-alert" role="document">    
        <div class="modal-content">    
    
            <div *ngIf="message?.type == 'confirm'" class="modal-body">    
                <div class="row">    
                    <div class="col-md-12">    
                        <p class="text-center confirm-message">{{message.text}}</p>    
                    </div>    
                </div>    
                <div class="row">    
                    <div class="col-md-12 confirm-button">  
                        <a class="btn btn-success btn-sm mt-3" (click)="message.yesFn()"> 
                            <i class="fa fa-check"></i> Yes </a>  &nbsp;
                        <a class="btn btn-danger btn-sm mt-3" (click)="message.noFn()"> 
                            <i class="fa fa-ban"></i> No </a>  
                    </div>    
                </div>    
            </div>    
        </div>    
    </div>    
</div>   