<div class="page-content-wrapper" >
      <div class="product-slide-wrapper">
        <!-- Product Slides-->
        <div class="product-slides owl-carousel" #product >
          <div #products *ngFor="let image of hotel?.images" 
           class="single-product-slide" [ngStyle]="{'background-image': 'url(' + image.path + ')'}"
          >
         </div>
          <!-- <div class="single-product-slide" ></div>
           -->
        </div>
        
      </div>
      <div class="product-description pb-3"  *ngIf="hotel">
        <!-- Product Title & Meta Data-->
        <div class="product-title-meta-data bg-white mb-3 py-3">
          <div class="container d-flex justify-content-between">
            <div class="p-title-price">
              <h6 class="mb-1">{{hotel.hotelName}}</h6>
              <p class="sale-price mb-0">Location :<span> {{hotel.hotelAddress}}</span></p>
            </div>
           
          </div>
          <!-- Ratings-->
          <!-- <div class="product-ratings">
            <div class="container d-flex align-items-center justify-content-between">
              <div class="ratings"><i class="lni lni-star-filled"></i><i class="lni lni-star-filled"></i><i class="lni lni-star-filled"></i><i class="lni lni-star-filled"></i><i class="lni lni-star-filled"></i><span class="ps-1">{{hotel.rating}} ratings</span></div>
              <div class="total-result-of-ratings"><span>{{hotel.rating}}</span><span>{{hotel.overview}}                                </span></div>
            </div>
          </div> -->
        </div>
       
      
        <!-- Add To Cart-->
        <div class="cart-form-wrapper bg-white mb-3 py-3">
          <div class="container">
			  <ul class="hotel-btn">
                                <li class="mr-3" *ngFor="let amenities of hotel.amenities">
                                    <label>
                                        <i class="fa {{amenities.image}} text-white" aria-hidden="true" style="font-size:14px"></i>
                                        <span>{{amenities.value}}</span>
                                    </label>
                                </li>
                            
                        </ul>
          </div>
        </div>
        <!-- Product Specification-->
        <div class="p-specification bg-white mb-3 py-3">
          <div class="container">
            <h6>About The Hotel</h6>
            <p>{{hotel.about}}</p>
            <!-- <ul class="mb-3">
              <li><i class="fa fa-tv"> </i> TV</li>
              <li><i class="fa fa-shower"> </i> Geyser</li>
              <li> <i class="fa fa-wifi"> </i> Wifi</li>
              <li> <i class="fa fa-bath"> </i> AttachBathroom</li>
				<li> <i class="fa fa-phone"> </i>InterCom</li>
            </ul>
            <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, eum? Id, culpa? At officia quisquam laudantium nisi mollitia nesciunt, qui porro asperiores cum voluptates placeat similique recusandae in facere quos vitae?</p> -->
          </div>
        </div>
       
        <div class="pb-3"></div>
        
        <!-- <div class="rating-and-review-wrapper bg-white py-3 mb-3">
          <div class="container">
            <h6>Ratings &amp; Reviews</h6>
            <div class="rating-review-content">
              <ul class="ps-0">
                <li class="single-user-review d-flex" *ngFor="let review of hotel.reviews">
                    <div class="user-thumbnail"><img src="img/bg-img/7.jpg" alt=""></div>
                    <div class="rating-comment">
                      <div class="rating">
                       
                        <ng-container *ngFor="let item of getCount(review.rating);">
                         
                            <i class="lni lni-star-filled" ></i>
                        </ng-container>
                         
                      
                        </div>
                      <p class="comment mb-0">{{review.reviewComment}}</p><span class="name-date">{{review.reviewerName}} {{review.reviewDate}}</span>
                    </div>
                  </li>
               
              </ul>
            </div>
          </div>
        </div> -->
        <!-- Ratings Submit Form-->
        <!-- <div class="ratings-submit-form bg-white py-3">
          <div class="container">
            <h6>Submit A Review</h6>
            <form action="#" method="">
              <div class="stars mb-3">
                <input class="star-1" (click)="onClickRating(1)" type="radio" name="star" id="star1">
                <label class="star-1" for="star1"></label>
                <input class="star-2" (click)="onClickRating(2)" type="radio" name="star" id="star2">
                <label class="star-2"  for="star2"></label>
                <input class="star-3"  (click)="onClickRating(3)" type="radio" name="star" id="star3">
                <label class="star-3" for="star3"></label>
                <input class="star-4" (click)="onClickRating(4)" type="radio" name="star" id="star4">
                <label class="star-4" for="star4"></label>
                <input class="star-5" (click)="onClickRating(5)" type="radio" name="star" id="star5">
                <label class="star-5" for="star5"></label><span></span>
              </div>
              <textarea class="form-control mb-3" id="comments" name="comment" [(ngModel)]="comment" cols="30" rows="10" data-max-length="200" placeholder="Write your review..."></textarea>
              <button class="btn btn-sm btn-primary" (click)="onClickSubmit()" type="submit">Save Review</button>
            </form>
          </div>
        </div> -->
      </div>
    </div>