<router-outlet></router-outlet>
<div class="preloader" *ngIf="loading" id="preloader">
    <div class="spinner-grow text-secondary" role="status">
      <div class="sr-only">Loading...</div>
    </div>
  </div>

  <app-dialog></app-dialog>