<div class="page-content-wrapper"> 
    <!-- Top Products-->
    <div class="top-products-area py-3">
      <div class="container">
        <div class="section-heading d-flex align-items-center justify-content-between">
          <h6>Travel Agents</h6>
        </div>
        <div class="row g-3"> 
              <!-- Single Weekly Product Card -->
          <div class="col-12 col-md-6" *ngFor="let agent of listOfAgents">
            <div class="card horizontal-product-card2">
              <div class="card-body d-flex align-items-center">
                <div class="product-description"> <span class="badge badge-success" *ngFor="let grade of agent.grade">{{grade.value}}</span> 
                  <!-- Product Title --><a class="product-title d-block" href="#">{{agent.agentName}}</a>  
                  <!-- Price -->
                  <p class="sale-price"><i class="fa fa-map-marker-alt"></i>{{agent.address}}</p>
                  <ul style="display:inline; list-style:none; padding-left:0px; margin-top:10px;">
                    <li class="mr-3" style="text-align:center;display:inline-block">
                      <label style="color: #747794; border-radius: 5px; " class="mb-0"> <i class="fa fa-phone-alt" aria-hidden="true" style="font-size:14px"></i> &nbsp;<span style="font-size:12px; color: #747794;">{{agent.phoneNumber}}</span> </label>
                    </li>
                    <li class="mr-3" style="text-align: center; display: inline-block">
                      <label style="color: #747794; border-radius: 5px; " class="mb-0"> <i class="fa fa-envelope mr-1" aria-hidden="true" style="font-size:14px"></i> &nbsp;<span style="font-size:12px; color: #747794;">{{agent.mailId}}</span> </label>
                    </li> <br>
                      <li class="mr-3" style="text-align:center;display:inline-block" *ngFor="let amenities of agent.amenities">
                      <label style="color: #106eea; border-radius: 5px; " class="mb-0"> <i class="fa {{amenities.image}}" aria-hidden="true" style="font-size:12px"></i> &nbsp;<span style="font-size:12px; color: #747794;">{{amenities.value}}</span> </label>
                    </li>
                   
                  </ul>
                  
                 </div>
              </div>
            </div>
          </div>
         
      
        </div>
      </div>
    </div>
  </div>