<!-- <div class="login-wrapper d-flex align-items-center justify-content-center text-center">
 
    <div class="background-shape"></div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-9 col-md-7 col-lg-6 col-xl-5"><img class="big-logo" src="../.../../assets/img/logo-white.png" alt="">
          
          <div class="register-form mt-5 px-4">
            <form action="home.html" method="">
              <div class="form-group text-start mb-4">
                  <a routerLink="/login"  class="btn btn-warning btn-lg w-100">TOURIST</a>
                  
              </div>
              <div class="form-group text-start mb-4">
                  <a class="btn btn-info btn-lg w-100">BUSINESS</a>
              </div>
              
            </form>
          </div>
         
       
          
        </div>
      </div>
    </div>
  </div> -->
 

  <div class="login-wrapper d-flex align-items-center justify-content-center text-center">
    <!-- Background Shape-->
   <!-- <div class="background-shape"></div>-->
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-9 col-md-7 col-lg-6 col-xl-5"><img class="big-logo"
           src="../../assets/img/logo-white.png" alt="">
           <p style="color: #020310; margin-top: 10px;">Government of Sikkim</p>
          <!-- Register Form-->
          <div class="register-form mt-5 px-4">
            <form action="home.html" method="">
              <div class="form-group text-start mb-4">
        <a [routerLink]="['/login', 'INDIAN']" class="btn btn-warning btn-lg w-100">INDIAN</a>
         <!--<button  type="submit"></button>-->
              </div>
        <div class="form-group text-start mb-4">
        <a  [routerLink]="['/login', 'FOREIGNER']" class="btn btn-primary btn-lg w-100">FOREIGNER</a>
         <!--<button  type="submit"></button>-->
              </div>
              <div class="form-group text-start mb-4">
        <a  [routerLink]="['/login', 'BUSINESS']" class="btn btn-info btn-lg w-100">BUSINESS</a>
              </div>
              
            </form>
          </div>
          <!-- Login Meta-->
          <!-- <div class="login-meta-data">
            <p class="mb-0">Already have an account?<a class="ms-1" href="login.html">Sign In</a></p>
          </div> -->
          
        </div>
      </div>
    </div>
  </div>
 