<div class="page-content-wrapper" [id]="order._id" *ngFor="let order of orders">
  <div class="product-description pb-3">
    <div class="pb-3"></div>
    <!-- Ratings Submit Form-->
    <div class="ratings-submit-form py-3">
      <div class="container ticket-card">
        <div  class="" style="overflow: hidden;margin-top: 20px; display: flex;">
          <article class="card">
            <section class="date">
              <div class="even-info" (click)="onClickDownload(order._id)" style="
                  text-align: right;
                  margin-right: 15px;
              "> <i class="fa fa-download"></i>
              </div>
              <time datetime="23th feb">
                <span>{{getDate(order)}}</span>
                <span>{{getMonth(order)}}</span>
                <span>{{getYear(order)}}</span>
              </time>
            </section>
            <section class="card-cont"> 
              <small> {{ 'Order Id :' + order._id}}</small>
              <br/>
              <small>{{order.locationName}}</small>
              <h3>{{order.name}}</h3>
              <div class="even-info"> <i class="fa fa-male"></i> Adult / Children : <strong
                  style="color: #106eea;">{{order.adultCount}}</strong> / <strong
                  style="color: #106eea;">{{order.childrenCount}}</strong>
              </div>
              <div class="even-info"
                style="margin-top: 10px;border-bottom:1px dashed #dadde6; border-top:1px dashed #dadde6; padding-top: 10px;">
                <i class="fa"></i> Total Price : <strong style="color: #106eea;">{{(order.adultCount * order.adultFee) +
                  (order.childrenCount * order.childrenFee)}}</strong>
              </div>
              <div  class="even-info"> <i class="fa fa-user"></i> Booked by : <strong
                  style="color: #106eea;">{{order.userName}}</strong>  
              </div>
            </section>
          </article>
        </div>

      </div>
    </div>
  </div>
</div>