

  <div class="page-content-wrapper">
    <!-- Top Products-->
    <div class="top-products-area py-3">
     <div class="container">
      <div class="row gy-3">
        <a style="margin-left: 12px;" class="btn btn-primary btn-sm mt-3 col-1" 
        [routerLink]="['/home/add-admin']"><i class="fa fa-table"></i> Add </a>
       
     <div class="col-12" *ngFor="let user of listOfUsers;let i = index">
          <!-- Single Vendor -->
          <div class="single-vendor-wrap bg-img p-4 bg-overlay" 
          style="background-image: url('../../../assets/img/admin-bg.jpg')">
            <h5 class="vendor-title text-white">{{user.userName}}</h5>
            <div class="vendor-info">
              <p class="mb-1 text-white">
                {{user.fullName}}
              </p>
            </div>  
            <ng-container >
              <a class="btn btn-success btn-sm mt-3" [routerLink]="['/home/view-admin', user._id]"> <i class="fa fa-edit"></i> View </a>  &nbsp;
              <a class="btn btn-info btn-sm mt-3"  *ngIf="user.isActive" (click)="onClickResetPwd(user)"> <i class="fa fa-refresh"></i> Reset Password </a> 
              &nbsp;<a class="btn btn-danger btn-sm mt-3" *ngIf="user.isActive"   (click)="onClickDeactive(user)"> <i class="fa fa-trash"></i> InActive </a>
            </ng-container>
            <!-- Vendor Profile --->
          </div>
        </div>
        
      </div>
    </div>
    </div>
  </div>