<app-header></app-header>
<app-alert></app-alert>
<router-outlet></router-outlet>
<app-footer *ngIf="userInfo.userType === 'INDIAN' || userInfo.userType === 'FOREIGNER'"></app-footer>
<app-dialog></app-dialog>