<!-- Header Area-->
<div class="header-area" id="headerArea">
    <div class="container h-100 d-flex align-items-center justify-content-between">
 <!-- Logo Wrapper-->
 <div class="logo-wrapper" *ngIf="sharedService.headerInfo.logo"><a routerLink="/home"><img src="../../../assets/img/logo.png" alt=""></a></div>
      
 <!-- Navbar Toggler-->

        <div class="back-button" *ngIf="sharedService.headerInfo.backBtn"><a [routerLink]="sharedService.headerInfo.backUrl" >
            <svg class="bi bi-arrow-left" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"></path>
            </svg></a></div>
        <!-- Page Title-->
        <div class="page-heading" *ngIf="sharedService.headerInfo.heading">
          <h6 class="mb-0">{{sharedService.headerInfo.headingText}}</h6>
        </div>

        
        <!-- Filter Option-->
        <div *ngIf="sharedService.headerInfo.filterBtn" class="filter-option" data-bs-toggle="offcanvas" data-bs-target="#suhaFilterOffcanvas" aria-controls="suhaFilterOffcanvas">
          <svg class="bi bi-sliders" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M11.5 2a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM9.05 3a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0V3h9.05zM4.5 7a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM2.05 8a2.5 2.5 0 0 1 4.9 0H16v1H6.95a2.5 2.5 0 0 1-4.9 0H0V8h2.05zm9.45 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm-2.45 1a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0v-1h9.05z"></path>
          </svg>
        </div>

        <div class="navbar-toggler"  *ngIf="sharedService.headerInfo.navBtn" data-bs-toggle="offcanvas" data-bs-target="#Offcanvas" aria-controls="Offcanvas"><span></span><span></span><span></span></div>

        <a [routerLink]="['/home/cart-details']" class="cart-noti-icon" *ngIf="sharedService.headerInfo.cartIcon">
          <svg class="bi bi-cart-check" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 16 16">
              <path d="M11.354 6.354a.5.5 0 0 0-.708-.708L8 8.293 6.854 7.146a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"></path>
              <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"></path>
            </svg>
          <span class="badge badge-warning">{{sharedService.headerInfo.cartCount}}</span>
          </a>

     
    </div>
  </div>
  <div class="offcanvas offcanvas-start offcanvas-wrap" tabindex="-1" id="Offcanvas" aria-labelledby="OffcanvasLabel">
    <!-- Close button-->
    <button class="btn-close btn-close-white text-reset" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    <!-- Offcanvas body-->
    <div class="offcanvas-body">
      <!-- Sidenav Profile-->
      <div class="sidenav-profile">
        <div class="user-profile"><img src="{{this.userInfo.profile}}" alt=""></div>
        <div class="user-info">
          <h6 class="user-name mb-1">{{this.userInfo.fullName}}</h6>
          
        </div>
      </div>
      <!-- Sidenav Nav-->
      <ul class="sidenav-nav ps-0">
        <li><a routerLink="/home/profile"><i class="lni lni-user"></i>My Profile</a></li>
        <li><a href="#"><i class="lni lni-alarm lni-tada-effect"></i>Notifications<span class="ms-3 badge badge-warning">3</span></a></li>
        <li><a href="#"><i class="lni lni-cog"></i>Settings</a></li>
        <li><a href="" (click)="signOut()"><i class="lni lni-power-switch"></i>Sign Out</a></li>
      </ul>
    </div>
  </div>


  <div class="offcanvas offcanvas-start suha-filter-offcanvas-wrap" tabindex="-1" id="suhaFilterOffcanvas" aria-labelledby="suhaFilterOffcanvasLabel">
      <!-- Close button-->
      <button class="btn-close text-reset" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      <!-- Offcanvas body-->
      <div class="offcanvas-body py-5">
        <div class="container">
          <div class="row">
            <div class="col-12" *ngFor="let filter of sharedService.headerInfo.filters">
              <!-- Catagory-->
              <div class="widget catagory mb-4">
                <h6 class="widget-title mb-2">{{filter.name}}</h6>
                <div class="widget-desc">
                  <!-- Single Checkbox-->
                  <div class="form-check" *ngFor="let option of filter.list">
                    <input class="form-check-input" [id]="option.code" type="checkbox" [(ngModel)]="option.checked">
                    <label class="form-check-label"  [for]="option.code">{{option.code}}</label>
                  </div>
                </div>
              </div>
            </div>
             
           
            <div class="col-12">
              <!-- Apply Filter-->
              <div class="apply-filter-btn"><a class="btn btn-success w-100"
                (click)="onClickApplyFilter()">Apply Filter</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>