  
 
  
  <div class="page-content-wrapper">
    <div class="container">
      <div class="pt-3">
        <!-- Hero Slides-->
        <div class="hero-slides owl-carousel" #carousel>
          <!-- Single Hero Slide-->
          <div class="single-hero-slide" style="background-image: url('../../../assets/img/bg-img/1.jpg')">
            <div class="slide-content h-100 d-flex align-items-center">
              <div class="slide-text">
                <h4 class="text-white mb-0" data-animation="fadeInUp" data-delay="100ms" data-duration="1000ms">Gangtok</h4>
                <p class="text-white" data-animation="fadeInUp" data-delay="400ms" data-duration="1000ms">Capital of Sikkim</p>
                  <!--<a class="btn btn-primary btn-sm" href="#" data-animation="fadeInUp" data-delay="800ms" data-duration="1000ms">Book Now</a>-->
                  

              </div>
            </div>
          </div>
          <!-- Single Hero Slide-->
          <div class="single-hero-slide" style="background-image: url('../../../assets/img/bg-img/2.jpg')">
            <div class="slide-content h-100 d-flex align-items-center">
              <div class="slide-text">
                <h4 class="text-white mb-0" data-animation="fadeInUp" data-delay="100ms" data-duration="1000ms">Tsongmo Lake</h4>
                <p class="text-white" data-animation="fadeInUp" data-delay="400ms" data-duration="1000ms">East Sikkim</p>
                  

              </div>
            </div>
          </div>
          <!-- Single Hero Slide-->
          <div class="single-hero-slide" style="background-image: url('../../../assets/img/bg-img/6.jpg')">
            <div class="slide-content h-100 d-flex align-items-center">
              <div class="slide-text">
                <h4 class="text-white mb-0" data-animation="fadeInUp" data-delay="100ms" data-duration="1000ms">Gangtok</h4>
                <p class="text-white" data-animation="fadeInUp" data-delay="400ms" data-duration="1000ms">Capital of Sikkim</p>
                  


              </div>
            </div>
          </div>
            <div class="single-hero-slide" style="background-image: url('../../../assets/img/bg-img/3.jpg')">
            <div class="slide-content h-100 d-flex align-items-center">
              <div class="slide-text">
                <h4 class="text-white mb-0" data-animation="fadeInUp" data-delay="100ms" data-duration="1000ms">Zuluk</h4>
                <p class="text-white" data-animation="fadeInUp" data-delay="400ms" data-duration="1000ms">East Sikkim</p>
                  

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Product Catagories -->
    <div class="product-catagories-wrapper py-3" *ngIf="this.userInfo.userType === 'INDIAN'">
      <div class="container">
        <div class="section-heading">
          <h6>Travel Categories</h6>
        </div>
        <div class="product-catagory-wrap">
          <div class="row g-3">
                    <!-- Single Catagory Card -->
                    <div class="col-4">
                      <div class="card catagory-card">
                        <div class="card-body"><a class="text-danger" routerLink="/home/tickets">
                           <img src="../../../assets/img/ticket.svg" alt="ticket" width="35" class="bi bi-heart mb-2" >
                            <span>Tickets</span></a></div>
                      </div>
                    </div>
                    <!-- Single Catagory Card -->
                    <div class="col-4">
                      <div class="card catagory-card">
                        <div class="card-body"><a routerLink="/home/permit-info">
                           <img src="../../../assets/img/info.svg" alt="info" width="35" class="mb-2" ><span>Permit & Info</span></a></div>
                      </div>
                    </div>
            <!-- Single Catagory Card -->
            <div class="col-4">
              <div class="card catagory-card">
                <div class="card-body"><a class="text-danger" routerLink="/home/hotels">
                   <img src="../../../assets/img/hotel.svg" alt="hotel" height="35" class="mb-2" >
                    <span>Hotel</span></a></div>
              </div>
            </div>
            <!-- Single Catagory Card -->
            <div class="col-4">
              <div class="card catagory-card">
                <div class="card-body"><a routerLink="/home/experience-home"  >
                    <img src="../../../assets/img/experiences.svg" alt="experiences" height="35"  class="mb-2" ><span>Experiences</span></a></div>
              </div>
            </div>
            <!-- Single Catagory Card -->
            <div class="col-4">
              <div class="card catagory-card">
                <div class="card-body"><a class="text-warning" routerLink="/home/destinations">
                    <img src="../../../assets/img/destination.svg" alt="destination" height="35"  class="mb-2" ><span>Destinations</span></a></div>
              </div>
            </div>
            <!-- Single Catagory Card -->
            <div class="col-4">
              <div class="card catagory-card">
                <div class="card-body"><a [routerLink]="['/home/experiences', 'TourPackages']">
                    <img src="../../../assets/img/tour.svg" alt="tour" height="35"  class="mb-2" ><span>Tour Packages</span></a></div>
              </div>
            </div>
            <!-- Single Catagory Card -->
            <div class="col-4">
              <div class="card catagory-card">
                <div class="card-body"><a class="text-danger"routerLink="/home/treks" >
                    <img src="../../../assets/img/trekking.svg" alt="trekking" height="35"  class="mb-2" ><span>Trekking</span></a></div>
              </div>
            </div>
            <!-- Single Catagory Card -->
            <div class="col-4">
              <div class="card catagory-card">
                <div class="card-body"><a class="text-info" routerLink="/home/travel-agents">
                    <img src="../../../assets/img/agent.svg" alt="agent" height="35"  class="mb-2" ><span>Tour Agent</span></a></div>
              </div>
            </div>
              
      
            <!-- Single Catagory Card -->
            <div class="col-4">
              <div class="card catagory-card">
                <div class="card-body"><a class="text-warning" routerLink="/home/feedback">
                     <img src="../../../assets/img/feedback.svg" alt="info" width="35" class="mb-2" ><span>Feed Back</span></a></div>
              </div>
            </div>
            <!-- Single Catagory Card -->
            <div class="col-4">
              <div class="card catagory-card">
                <div class="card-body"><a class="text-warning" routerLink="/home/FAQ">
                     <img src="../../../assets/img/feedback.svg" alt="info" width="35" class="mb-2" ><span>FAQ</span></a></div>
              </div>
            </div>	
            
              
          </div>
        </div>
      </div>
    </div>
    
   <div class="product-catagories-wrapper py-3" *ngIf="this.userInfo.userType === 'ADMIN'">
    <div class="container">
      <div class="section-heading">
        <h6>Travel Categories</h6>
      </div>
      <div class="product-catagory-wrap">
        <div class="row g-3">
          <!-- Single Catagory Card -->
          <div class="col-6">
            <div class="card catagory-card">
              <div class="card-body"><a class="text-danger" routerLink="/home/hotel-list">
       <img src="../../../assets/img/hotel.svg" alt="hotel" height="35" class="mb-2" >
        <span>Hotel</span></a></div>
            </div>
          </div>
          <!-- Single Catagory Card -->
          <div class="col-6">
            <div class="card catagory-card">
              <div class="card-body"><a class="text-danger" routerLink="/home/destination-list">
       <img src="../../../assets/img/destination.svg" alt="hotel" height="35" class="mb-2" >
        <span>Destination</span></a></div>
            </div>
          </div>
          <!-- Single Catagory Card -->
          <div class="col-6">
            <div class="card catagory-card">
              <div class="card-body"><a class="text-danger" routerLink="/home/travelagent-list">
       <img src="../../../assets/img/agent.svg" alt="hotel" height="35" class="mb-2" >
        <span>Agent</span></a></div>
            </div>
          </div>
          <!-- Single Catagory Card -->
         <div class="col-6">
            <div class="card catagory-card">
              <div class="card-body"><a class="text-danger" href="#">
       <img src="../../../assets/img/info.svg" alt="hotel" height="35" class="mb-2" >
        <span>Permit </span></a></div>
            </div>
          </div>
     
    
        </div>
      </div>
    </div>
  </div>
   
   
    <div class="container" *ngIf="this.userInfo.userType === 'INDIAN' || this.userInfo.userType === 'FOREIGNER'">
      <div class="section-heading d-flex align-items-center justify-content-between">
        <h6>Top Visited Places</h6><a class="btn" href="#">View All</a>
      </div>
      <!-- Collection Slide-->
      <div class="collection-slide owl-carousel" #collection>
        <!-- Collection Card-->
        <div class="card collection-card"><a href="destinations.html"><img src="../../../assets/img/product/bhuddapark.jpg" alt=""></a>
          <div class="collection-title"><span>Bhudda Park</span><span>South Sikkim</span></div>
        </div>
        <!-- Collection Card-->
        <div class="card collection-card"><a href="destinations.html"><img src="../../../assets/img/product/gurudongmar.jpg" alt=""></a>
          <div class="collection-title"><span>Gurudongmar Lake</span><span>North Sikkim</span></div>
        </div>
        <!-- Collection Card-->
        <div class="card collection-card"><a href="destinations.html"><img src="../../../assets/img/product/mg-marg.jpg" alt=""></a>
          <div class="collection-title"><span>MG Marg</span><span>East Sikkim</span></div>
        </div>
        <!-- Collection Card-->
        <div class="card collection-card"><a href="destinations.html"><img src="../../../assets/img/product/tsomgo-lake.jpg" alt=""></a>
          <div class="collection-title"><span>Tsongmo Lake</span><span>East Sikkim</span></div>
        </div>
        <!-- Collection Card-->
        <div class="card collection-card"><a href="destinations.html"><img src="../../../assets/img/product/rabdensy.jpg" alt=""></a>
          <div class="collection-title"><span>Rabdentse</span><span>West Sikkim</span></div>
        </div>
        <!-- Collection Card-->
        <div class="card collection-card"><a href="destinations.html"><img src="../../../assets/img/product/pilgrimage.jpg" alt=""></a>
          <div class="collection-title"><span>Siddheshwar Dham (Char Dham)</span><span>South Sikkim</span></div>
        </div>
      </div>
      <div class="pb-3"></div>
    </div>
  
    <!-- Product Catagories -->
    <div class="product-catagories-wrapper py-3" *ngIf="this.userInfo.userType === 'FOREIGNER'">
      <div class="container">
        <div class="section-heading">
          <h6>Travel Categories</h6>
        </div>
        <div class="product-catagory-wrap">
            <div class="row g-3">
                    <!-- Single Catagory Card -->
                    <div class="col-4">
                      <div class="card catagory-card">
                        <div class="card-body"><a class="text-danger" routerLink="/home/tickets">
                           <img src="../../../assets/img/ticket.svg" alt="ticket" width="35" class="bi bi-heart mb-2" >
                            <span>Tickets</span></a></div>
                      </div>
                    </div>
                    <!-- Single Catagory Card -->
            <div class="col-4">
              <div class="card catagory-card">
                <div class="card-body"><a class="text-danger" routerLink="/home/hotels">
                   <img src="../../../assets/img/hotel.svg" alt="hotel" height="35" class="mb-2" >
                    <span>Hotel</span></a></div>
              </div>
            </div>
            <!-- Single Catagory Card -->
            <div class="col-4">
              <div class="card catagory-card">
                <div class="card-body"><a routerLink="/home/experience-home"  >
                    <img src="../../../assets/img/experiences.svg" alt="experiences" height="35"  class="mb-2" ><span>Experiences</span></a></div>
              </div>
            </div>
            <!-- Single Catagory Card -->
            <div class="col-4">
              <div class="card catagory-card">
                <div class="card-body"><a class="text-warning" routerLink="/home/destinations">
                    <img src="../../../assets/img/destination.svg" alt="destination" height="35"  class="mb-2" ><span>Destinations</span></a></div>
              </div>
            </div>
            <!-- Single Catagory Card -->
            <div class="col-4">
              <div class="card catagory-card">
                <div class="card-body"><a class="text-success" [routerLink]="['/home/experiences', 'Cuisines']"> 
                    <img src="../../../assets/img/tour.svg" alt="tour" height="35"  class="mb-2" ><span>Tour Packages</span></a></div>
              </div>
            </div>
            <!-- Single Catagory Card -->
            <div class="col-4">
              <div class="card catagory-card">
                <div class="card-body"><a class="text-danger"routerLink="/home/treks" >
                    <img src="../../../assets/img/trekking.svg" alt="trekking" height="35"  class="mb-2" ><span>Trekking</span></a></div>
              </div>
            </div>
            <!-- Single Catagory Card -->
            <div class="col-4">
              <div class="card catagory-card">
                <div class="card-body"><a class="text-info" routerLink="/home/travel-agents">
                    <img src="../../../assets/img/agent.svg" alt="agent" height="35"  class="mb-2" ><span>Tour Agent</span></a></div>
              </div>
            </div>
              
      
            <!-- Single Catagory Card -->
            <div class="col-4">
              <div class="card catagory-card">
                <div class="card-body"><a class="text-warning" routerLink="/home/feedback">
                     <img src="../../../assets/img/feedback.svg" alt="info" width="35" class="mb-2" ><span>Feed Back</span></a></div>
              </div>
            </div>	
              
          </div>
        </div>
      </div>
    </div>
    
      
    <div class="product-catagories-wrapper py-3" *ngIf="this.userInfo.userType === 'IT'">
      <div class="container">
        <div class="section-heading">
          <h6>Travel Categories</h6>
        </div>
        <div class="product-catagory-wrap">
          <div class="row g-3">
           
            
           
            <!-- Single Catagory Card -->
           <div class="col-6">
              <div class="card catagory-card">
                <div class="card-body"><a class="text-danger">
         <img src="../../../assets/img/agent.svg" routerLink="/home/admin-list" alt="hotel" height="35" class="mb-2" >
          <span>Admin</span></a></div>
              </div>
            </div>
       
      
          </div>
        </div>
      </div>
    </div>

    <div class="product-catagories-wrapper py-3" *ngIf="this.userInfo.userType === 'BUSINESS'">
      <div class="container">
        <div class="section-heading">
          <h6>Business Categories</h6>
        </div>
        <div class="product-catagory-wrap">
          <div class="row g-3">
            <!-- Single Catagory Card -->
            <div class="col-6">
              <div class="card catagory-card">
                <div class="card-body"><a class="text-danger">
                    <img src="../../../assets/img/hotel.svg" routerLink="/home/hotel-list" alt="hotel" height="35"
                      class="mb-2">
                    <span>Resort & Hotels</span></a></div>
              </div>
            </div>
            <!-- Single Catagory Card -->
            <div class="col-6">
              <div class="card catagory-card">
                <div class="card-body"><a class="text-danger">
                    <img src="../../../assets/img/trekking.svg" routerLink="/home/add-agent" alt="hotel" height="35"
                      class="mb-2">
                    <span>Trekking Agent</span></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
