<div class="page-content-wrapper">
    <!-- Top Products-->
    <div class="top-products-area py-3">
        <div class="container">

            <div class="card mb-4">
                <div class="card-body p-2">
                    <div class="chat-search-box">
                        <form action="#">
                            <div class="input-group"><span class="input-group-text" id="searchbox"><i
                                        class="lni lni-search-alt"></i></span>
                                <input class="form-control" type="search" name="search" 
                                placeholder="Search hotel name or location"
                                    aria-describedby="searchbox" [(ngModel)]="searchWord"  (ngModelChange)="onChangeSearch($event)" >
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="section-heading d-flex align-items-center justify-content-between">
                <h6>All Hotels</h6>
            </div>

            <div class="row g-3">
                <!-- hotel Single -->
                <div class="col-12 col-md-6 hotel-details" *ngFor="let hotel of listOfHotels">
                    <div class="card collection-card2"><a [routerLink]="['/home/hotel', hotel._id]"  ><img
                        [src]="getSrc(hotel)"        alt=""></a>
                        <div class="collection-title"><span>{{hotel.hotelName}}</span>
                            <span class="location"><i class="lni lni-money-location"></i>{{hotel.hotelAddress}}</span>

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>