<div class="page-content-wrapper">
  <div class="container">
    <!-- Profile Wrapper-->
    <div class="profile-wrapper-area py-3">
      <!-- User Information-->

      <!-- User Meta Data-->
      <div class="card user-data-card">
        <div class="card-body">
          <form #hotelForm="ngForm">
            <div *ngIf="action" class="alert alert-warning sticky">
              <strong>
                If you are doing any changes in the image/document/services, then hotel will go for admin approval.
              </strong>
            </div>
            <div class="mb-3">
              <div class="title mb-2"><i class="lni lni-user"></i><span>Hote Name</span></div>
              <input class="form-control" type="text" name="hotelName" #hname="ngModel" [disabled]="hotelInfo.status === 'Approved'"
              id="hotelName" [(ngModel)]="hotelInfo.hotelName" required/>
              <div *ngIf="hname.invalid && (hname.dirty || hname.touched)" class="alert alert-danger">
                <div *ngIf="hname.errors?.required">
                  <b>Hotel Name</b> is required.
                </div>
              </div>
            </div>
            <div class="mb-3">
              <div class="title mb-2"><i class="fa fa-h-square"></i><span>Hotel Address</span></div>
              <input class="form-control" type="text" [(ngModel)]="hotelInfo.hotelAddress"
              name="hotelAddress" id="hotelAddress" #haddress="ngModel" required [disabled]="hotelInfo.status === 'Approved'">
              <div *ngIf="haddress.invalid && (haddress.dirty || haddress.touched)" class="alert alert-danger">
                <div *ngIf="haddress.errors?.required">
                  <b>Hotel Address</b> is required.
                </div>
              </div>
            </div>
            <div class="mb-3">
              <div class="title mb-2"><i class="fa fa fa-location-arrow"></i><span>District</span></div>
              <select class="form-select" aria-label="Default select example" [disabled]="hotelInfo.status === 'Approved'" name="district" id="district"
                [(ngModel)]="hotelInfo.district" required #hdistrict="ngModel">
                <option value="" selected>Choose District</option>
                <option *ngFor="let district of districts" [value]="district.code">{{district.value}}</option>
              </select>
              <div *ngIf="hdistrict.invalid && (hdistrict.dirty || hdistrict.touched)" class="alert alert-danger">
                <div *ngIf="hdistrict.errors?.required">
                  <b>District</b> is required.
                </div>
              </div>
            </div>

            <div class="mb-3">
              <div class="title mb-2"><i class="fa fa-pencil"></i><span>About Hotel</span></div>
              <textarea class="form-control" id="comment" name="comment" cols="30" 
              [(ngModel)]="hotelInfo.about" rows="10" data-max-length="400"
                placeholder="Write About Hotel..." required #hcomment="ngModel"></textarea>
                <div *ngIf="hcomment.invalid && (hcomment.dirty || hcomment.touched)" class="alert alert-danger">
                  <div *ngIf="hcomment.errors?.required">
                    <b>About</b> is required.
                  </div>
                </div>
            </div>

            <div class="mb-3">
              <div class="title mb-2"><i class="lni lni-phone"></i><span>Phone 1</span></div>
              <input class="form-control"  id="phoneNoOne" name="phoneNoOne" 
               type="text"  #phoneOne="ngModel" required
              [(ngModel)]="hotelInfo.phoneNoOne">
              <div *ngIf="phoneOne.invalid && (phoneOne.dirty || phoneOne.touched)" class="alert alert-danger">
                <div *ngIf="phoneOne.errors?.required">
                  <b>Phone number</b> is required.
                </div>
              </div>
            </div>

            <div class="mb-3">
              <div class="title mb-2"><i class="lni lni-phone"></i><span>Phone 2</span></div>
              <input class="form-control" type="text" [(ngModel)]="hotelInfo.phoneNoTwo"
              id="phoneNoTwo" name="phoneNoTwo" #phoneTwo="ngModel" required
              >
              <div *ngIf="phoneTwo.invalid && (phoneTwo.dirty || phoneTwo.touched)" class="alert alert-danger">
                <div *ngIf="phoneTwo.errors?.required">
                  <b>Phone number</b> is required.
                </div>
              </div>
            </div>
            <div class="mb-3">
              <div class="title mb-2"><i class="lni lni-envelope"></i><span>Email Address</span></div>
              <input class="form-control" type="email" [(ngModel)]="hotelInfo.mailIdOne"
              #mailOne="ngModel" required [pattern]="emailPattern"
              id="mailIdOne" name="mailIdOne">
              <div *ngIf="mailOne.invalid && (mailOne.dirty || mailOne.touched)" class="alert alert-danger">
                <div *ngIf="mailOne.errors?.required">
                  <b>Mail Id</b> is required.
                </div>
                <div *ngIf="mailOne.errors?.pattern">   
                  <b>Email</b> is not valid.   
                </div>
              </div>
            </div>
            <div class="mb-3">
              <div class="title mb-2"><i class="lni lni-envelope"></i><span>Email Address 2</span></div>
              <input class="form-control" type="email" [(ngModel)]="hotelInfo.mailIdTwo"
              id="mailIdTwo" name="mailIdTwo"
              #mailTwo="ngModel" required [pattern]="emailPattern">
              <div *ngIf="mailTwo.invalid && (mailTwo.dirty || mailTwo.touched)" class="alert alert-danger">
                <div *ngIf="mailTwo.errors?.required">
                  <b>Mail Id</b> is required.
                </div>
                <div *ngIf="mailTwo.errors?.pattern">   
                  <b>Email</b> is not valid.   
                </div>
              </div>
            </div>
            <div class="title mb-2"><i class="fa fa-upload"></i><span>Upload Images </span></div>
            <div class="data-content">
              <button class="btn btn-primary btn-sm" (click)="onClickOfAddImage()" >Add </button></div>
            <div class="cart-table card mb-3">
              <div class="table-responsive card-body">
                <table class="table mb-0">
                  <thead>
                    <tr>
                      <th>Action</th>
                      <th>Main Image</th>
                      <th>Upload File </th>
                      <th>Download</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let image of hotelInfo.images; let i = index">
                      <th scope="row"><a class="remove-product" (click)="onClickOfDeleteImage(i)"><i class="lni lni-close"></i></a></th>
                      <td> 
                        <input type="radio"  name="isMainImage" [checked]="image.isMainImage"   (click)="onClickOfSelectImage(image)"
                        id="isMainImage" value="">  
                      </td>
                      <td> <input class="form-control" type="file" (change)="onChangeImage($event,image)" ></td>
                      <td scope="row">
                        <button class="btn btn-success btn-sm mt-3" (click)="onClickOfView(image)">
                          <i class="fa fa-download"></i> </button>
                        </td>
                    </tr>
                  </tbody> 
                </table>
              </div>
            </div>
            <!-- <input type="radio" name="colors" id="red">Red<br>
            <input type="radio" name="colors" id="blue">Blue -->
            <div class="title mb-2"><i class="fa fa-upload"></i><span>Upload Documents </span></div>
            <div class="data-content">
              <button class="btn btn-primary btn-sm" (click)="onClickOfAddFile()" >Add </button></div>
            <div class="cart-table card mb-3">
              <div class="table-responsive card-body">
                <table class="table mb-0">
                  <thead>
                    <tr>
                      <th>Action</th>
                      <th>Document Name</th>
                      <th>Upload File </th>
                      <th>View</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let document of hotelInfo.documents; let i = index">
                      <th scope="row"><a class="remove-product" (click)="onClickOfDeleteFile(i)"><i class="lni lni-close"></i></a></th>
                      <td>
                        <input type="text" name="documentName" [(ngModel)]="document.documentName" class="form-control"/>
                      </td>
                      <td> <input class="form-control" type="file" (change)="onChangeFile($event,document)" ></td>
                      <td> <button class="btn btn-success btn-sm mt-3"
                        (click)="onClickOfViewDoc(document)"> 
                       <i class="fa fa-download"></i>  </button> </td>
                    </tr>
                  </tbody> 
                </table>
              </div>
            </div>
 

            <div class="mb-3">
              <div class="title mb-2"><i class="lni lni-service"></i><span>Add Services</span></div>
              <div class="choose-size-wrapper text-end">

                <div class="choose-size-radio align-items-center services">
                  <div class="form-check mb-0 me-2" *ngFor="let amenity of hotelInfo.amenities">
                    <input class="form-check-input" [id]="amenity.code" type="checkbox"
                    [(ngModel)]="amenity.checked" [name]="amenity.code">
                    <label class="form-check-label" [for]="amenity.code">{{amenity.value}}</label>
                  </div>
                </div>
              </div>
            </div>
           
              <div class="title mb-2"><i class="fa fa-comments"></i><span>Comments </span></div>
              <div class="data-content">
              <div class="cart-table card mb-3">
                <div class="table-responsive card-body">
                  <table class="table mb-0">
                    <thead>
                      <tr >
                       
                        <th>Comments</th>
                        <th>Commented on </th>
                      </tr>
                    </thead>
                    <tbody>
                     <tr *ngFor="let comment of hotelInfo.comments">
                       <td>{{comment.comment}}</td>
                       <td>{{comment.time}}</td>
                     </tr>
                    </tbody> 
                  </table>
                </div>
              </div>
            </div>
           

            

            <button class="btn btn-success w-25" *ngIf="userInfo.userType === 'ADMIN' && this.hotelInfo.status==='Initiated'"  
             (click)="onClickOfOpenComment('Approved')" type="submit">Approve</button>
             &nbsp;<button class="btn btn-danger w-25" *ngIf="userInfo.userType === 'ADMIN' && this.hotelInfo.status==='Initiated'"  
             (click)="onClickOfOpenComment('Rejected')" type="submit">Reject</button>
            <button class="btn btn-success w-100"
            [disabled]="!hotelForm.valid" *ngIf="userInfo.userType === 'BUSINESS'" (click)="onClickSubmit()" type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<app-comments-popup [confirmationModal]="confirmationModal"
(actionClick)="callBackFromPopup($event)"></app-comments-popup>