<div class="login-wrapper d-flex align-items-center justify-content-center text-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-9 col-md-7 col-lg-6 col-xl-5">
          <div class="text-start px-4">
            <h5 class="mb-1 text-white">Email Verification</h5>
            <p class="mb-4 text-white">We will send you an OTP on this Email Id.</p>
          </div>
         
          <!-- OTP Send Form-->
          <div class="otp-form mt-5 mx-4">
            <div class="alert alert-danger" *ngIf="errorMessage">
              {{errorMessage}}
            </div>
            <form>
              <div class="mb-4 d-flex">
                <input class="form-control ps-0" id="email" name="email" 
                style="border-top-left-radius: 6px !important;border-bottom-left-radius: 6px !important;"
                 type="text"  #mail="ngModel" [pattern]="emailPattern" required  
                 [(ngModel)]="emailId"
                placeholder="Enter Email Id">
                 
              </div> <div *ngIf="mail.invalid && (mail.dirty || mail.touched)" class="alert alert-danger">
                <div *ngIf="mail.errors?.required">
                  <b>Email</b> is required. </div>
                  <div *ngIf="mail.errors?.pattern">   
                    <b>Email</b> is not valid.   
                  </div>
                </div>
              <button class="btn btn-warning btn-lg w-100" type="submit" (click)="onClickSendOtp()">Send OTP</button>
            </form>
          </div>
          <!-- Term & Privacy Info-->
          <div class="login-meta-data px-4">
            <p class="mt-3 mb-0">By providing my email id, I hereby agree the<a class="mx-1" href="#">Term of Services</a>and<a class="mx-1" href="#">Privacy Policy.</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>