<div class="page-content-wrapper">
		
    <div class="container">
    <div class="pt-3">
      <!-- Hero Slides-->
      <div class="hero-slides owl-carousel" #carousel>
        <!-- Single Hero Slide-->
        <div class="single-hero-slide" style="background-image: url('../../../assets/img/bg-img/1.jpg')">
          <div class="slide-content h-100 d-flex align-items-center">
            <div class="slide-text">
              <h4 class="text-white mb-0" data-animation="fadeInUp" data-delay="100ms" data-duration="1000ms">Gangtok</h4>
              <p class="text-white" data-animation="fadeInUp" data-delay="400ms" data-duration="1000ms">Capital of Sikkim</p>
                <!--<a class="btn btn-primary btn-sm" href="#" data-animation="fadeInUp" data-delay="800ms" data-duration="1000ms">Book Now</a>-->
                

            </div>
          </div>
        </div>
        <!-- Single Hero Slide-->
        <div class="single-hero-slide" style="background-image: url('../../../assets/img/bg-img/2.jpg')">
          <div class="slide-content h-100 d-flex align-items-center">
            <div class="slide-text">
              <h4 class="text-white mb-0" data-animation="fadeInUp" data-delay="100ms" data-duration="1000ms">Tsongmo Lake</h4>
              <p class="text-white" data-animation="fadeInUp" data-delay="400ms" data-duration="1000ms">East Sikkim</p>
                

            </div>
          </div>
        </div>
        <!-- Single Hero Slide-->
        <div class="single-hero-slide" style="background-image: url('../../../assets/img/bg-img/6.jpg')">
          <div class="slide-content h-100 d-flex align-items-center">
            <div class="slide-text">
              <h4 class="text-white mb-0" data-animation="fadeInUp" data-delay="100ms" data-duration="1000ms">Gangtok</h4>
              <p class="text-white" data-animation="fadeInUp" data-delay="400ms" data-duration="1000ms">Capital of Sikkim</p>
                


            </div>
          </div>
        </div>
          <div class="single-hero-slide" style="background-image: url('../../../assets/img/bg-img/3.jpg')">
          <div class="slide-content h-100 d-flex align-items-center">
            <div class="slide-text">
              <h4 class="text-white mb-0" data-animation="fadeInUp" data-delay="100ms" data-duration="1000ms">Zuluk</h4>
              <p class="text-white" data-animation="fadeInUp" data-delay="400ms" data-duration="1000ms">East Sikkim</p>
                

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Top Products-->
  <div class="top-products-area py-3">
    <div class="container">
     
     <div class="row g-3">

        <div class="col-12 col-md-6" *ngFor="let destination of destinations">
            <div class="card blog-card list-card">
              <!-- Post Image-->
              <div class="post-img2"><a><img  [src]="getSrc(destination)"  alt=""></a></div>
              <!-- <p>Select a maintenance drone:</p> -->

              <!-- <div>
                <input type="radio" id="huey" name="drone" value="huey"
                       checked>
                <label for="huey">Huey</label>
              </div>
              
              <div>
                <input type="radio" id="dewey" name="drone" value="dewey">
                <label for="dewey">Dewey</label>
              </div>
              
              <div>
                <input type="radio" id="louie" name="drone" value="louie">
                <label for="louie">Louie</label>
              </div> -->
              
              <!-- Read More Button--><a class="btn btn-warning btn-sm read-more-btn" [routerLink]="['/home/apply-permit',destination._id]">Get Permit</a>

              <div class="post-content">
                <div class="bg-shapes">
                  <div class="circle1"></div>
                  <div class="circle2"></div>
                  <div class="circle3"></div>
                  <div class="circle4"></div>
                </div>
                <!-- Post Catagory--><a class="post-catagory2 d-block" [routerLink]="['/home/apply-permit',destination._id]">{{destination.address}}</a>
                <!-- Post Title--><a class="post-title d-block" [routerLink]="['/home/apply-permit',destination._id]">{{destination.destName}}</a>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>