<div class="page-content-wrapper">
    <div class="container">
      <!-- Profile Wrapper-->
      <div class="profile-wrapper-area py-3">
        <!-- User Information-->
        <div class="card user-info-card">
          <div class="card-body p-4 d-flex align-items-center">
            <div class="user-profile me-3"><img [src]="user.profile" alt=""></div>
            <div class="user-info">
              <h5 class="mb-0">{{user.userName}}</h5>
            </div>
          </div>
        </div>
        <!-- User Meta Data-->
        <div class="card user-data-card">
          <div class="card-body">
            <div class="single-profile-data d-flex align-items-center justify-content-between">
              <div class="title d-flex align-items-center"><i class="lni lni-user"></i><span>Username</span></div>
              <div class="data-content">{{user.userName}}</div>
            </div>
            <div class="single-profile-data d-flex align-items-center justify-content-between">
              <div class="title d-flex align-items-center"><i class="lni lni-user"></i><span>Full Name</span></div>
              <div class="data-content">{{user.userName}}</div>
            </div>
            <div class="single-profile-data d-flex align-items-center justify-content-between">
              <div class="title d-flex align-items-center"><i class="lni lni-phone"></i><span>Phone</span></div>
              <div class="data-content">{{user.phoneNumber}}</div>
            </div>
            <div class="single-profile-data d-flex align-items-center justify-content-between">
              <div class="title d-flex align-items-center"><i class="lni lni-envelope"></i><span>Email Address</span></div>
              <div class="data-content">{{user.emailId}}                             </div>
            </div>
            <div class="single-profile-data d-flex align-items-center justify-content-between">
              <div class="title d-flex align-items-center"><i class="lni lni-map-marker"></i><span>Address</span></div>
              <div class="data-content">{{user.address}} </div>
            </div>
            <div *ngIf="user.userType !== 'BUSINESS'" class="single-profile-data d-flex align-items-center justify-content-between">
              <div class="title d-flex align-items-center"><i class="lni lni-star"></i><span>My Order</span></div>
              <div class="data-content"><a class="btn btn-warning btn-sm" routerLink="/home/my-order">View</a></div>
            </div>
              <div *ngIf="user.userType !== 'BUSINESS'" class="single-profile-data d-flex align-items-center justify-content-between">
              <div class="data-content d-flex align-items-center"><a class="btn btn-primary btn-sm" routerLink="/home/edit-profile">Add Id Proof</a></div>
              <div class="data-content"><a class="btn btn-primary btn-sm" routerLink="/home/edit-profile">Add Vaccine Certificate </a></div>
            </div>
            <div *ngIf="user.userType !== 'BUSINESS'" style="text-align: center;">
              <div><img style="height: 150px;
                width: 150px;" src="../../../assets/img/qr_code.png" alt=""></div>
          
            </div>
            <!-- Edit Profile-->
            <div class="edit-profile-btn mt-3"><a class="btn btn-info w-100" routerLink="/home/edit-profile"><i class="lni lni-pencil me-2"></i>Edit Profile</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>